<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freetime - <%= meeting.name %></title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/time-date-management-1/64/time__data_management-12-128.png">

  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Stylesheets -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.11/jquery.timepicker.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2.1.19/daterangepicker.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/public/stylesheets/Views/freetime.css">


  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!-- Socket.io -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

</head>
<body>

  <!-- Navigation -->
  <% include templates/nav-meetings.ejs %>

<<<<<<< HEAD
  <!-- Progress Bar -->
  <div class="container">
    <ul class="progressbar">
      <li class="active attend">ATTEND</li>
      <li class="active freetimes">FREETIMES</li>
      <li class="active confirmation">CONFIRMATION</li>
    </ul>
  </div>
=======
>>>>>>> 77e1ba5eb8172db96f25db4dfe325a156bc5e980
  <!-- Content -->
  <div class="page-container">
    <div class="page-heading">
      <h1><%= meeting.name %></h1>
      <h4>Possible Meeting Times</h4>
      <p>Below are the free times your group has in common.
      <br>The moderator, Mark Stanley, will be responible for setting the final meeting time from here.</p>
    </div>

    <div class="meeting-slots">
      <% for(var i = 0; i < startDays.length; i++) { %>
        <div class="meeting-slot">
          <div class="time-slot">
              <h3>From</h3>
              <div class="date-time">
                <p class="time"></p>
                <p class="date" id="startDay<%=i%>"><%=startDays[i]%></p>
              </div>
          </div>
          <div class="time-slot">
            <h3>To</h3>
              <div class="date-time">
                <p class="time"></p>
                <p class="date" id="endDay<%=i%>"><%=endDays[i]%></p>
            </div>
          </div>
          <% if(user.google.email == meeting.moderator) { %>
          <span class="divide"></span>
          <form id="meetingSlotForm" method="post">
            <div style="position: relative">
            <input type="text" class="date<%=i%> form-control" id="MeetingTime" name="MeetingTime" placeholder="Please Select A Meeting"></input>
          </div>
            <a href="./confirmation.html"><button class="submit-btn">Submit</button></a>
          </form>
        <% } %>
        </div>
        <%}%>
    </div>

  </div>

    <!-- Google Auth -->
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <!-- JQuery Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

    <!-- Other Scripts -->
    <script type ="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2.1.19/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>


    <!-- Custom Scripts -->
    <script type="text/javascript">
    var pusher = new Pusher('4bf7606d6b203524d576', {
        encrypted: true
      });

    //NOTIFS: Check for notifications every time the page is loaded
    var notificationCount = 0;
    //Count how many notifications there are
    <%for (var x=userEvents.length -1; x >= 0; x--){%>
        if (<%=userEvents[x].viewed%> == false) {
          notificationCount = notificationCount + 1;
        }
    <%}%>


    //If there is more than '0', show the # of notifs above the icon
    if (notificationCount > 0){
      $("#count").text(notificationCount);
    }  else {
      $("#count").addClass('hide');
    }
    //END NOTIF

    addEvent = function(data){
      $("#count").removeClass('hide');
      var notificationCount = $("#count").text();
      if (notificationCount == null || notificationCount == ""){
        notificationCount = 0;
      }
      notificationCount = parseInt(notificationCount);
      $("#count").text(notificationCount + 1);

      $("#notifList").prepend(data.msg);
    //  $("#notifList li:first-child a").attr('href', data.href);
      if(data.count == 1){
        $("#notifList li:last-child").remove();
      }
      if(data.count > 5){
        $("#notifList li:nth-last-child(3)").remove();
      }

      /* Add new group to the group dropdown
       * if user has 0 groups, then add a group divider first
       */
       if (data.type == "group") {
         if(!$("#group-divider").length){
           $("#create-group-btn").before('<li role="seperator" class="divider" id="group-divider">');
         }
         $("#group-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");

       }
       else if (data.type == "meeting") {
         if(!$("#meeting-divider").length){
           $("#create-meeting-btn").before('<li role="seperator" class="divider" id="meeting-divider">');
         }
         $("#meeting-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");

       }

      //Count how many notifications there are
      <%for (var x=userEvents.length -1; x >= 0; x--){%>
        if (<%=userEvents[x].viewed%> == false) {
          notificationCount = notificationCount + 1;
        }
      <%}%>

      //If there is more than '0', show the # of notifs above the icon
      if (notificationCount > 0){
        $("#count").text(notificationCount);
      }

      // Add 'ring' class to bell icon for animation
      $("#notifIcon").addClass('ring');
      setTimeout(function(){
        $("#notifIcon").removeClass('ring');
      }, 1000);

    };

    $("#notifIcon").click(function(){
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        if(xhr.status == 200){
          $("#count").replaceWith("");
        }
      }
      xhr.open('GET', '/resetNotifs', true);
      xhr.send();
    });

    var user = '<%=user.google.email%>';
    var channel = pusher.subscribe(user);
    channel.bind('newEvent', function(data){
      addEvent(data);
    });

    /* GROUP MODAL */
    var availableTags = "<%= knownNetwork %>".split(",");
    var tags = $('#magicsuggest').magicSuggest({
      vregex: /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i,
      hideTrigger: true,
      allowFreeEntries: true,
      toggleOnClick: false,
      strictSuggest: true,
      resultAsString: true,
      data: availableTags
    });

    // Because magicsugges has conflicts with ejs, I have a silent input where the values from the magicsuggest is stored.
    $(tags).on('selectionchange', function() {
      document.getElementById("tags").value = this.getValue();
    });

    function isValidEmailAddress(emailAddress) {
      var pattern = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i;
      return pattern.test(emailAddress);
    };
    // Group Name/Email Validation
    $("#createGroupBtn").click(function(e) {
      var groupName = $("#groupName").val();
      var grName = "";

      //Group Name validation
      <% for(var i = 0; i < user.google.groups.length; i++) { %>
        grName = "<%= user.google.groups[i].groupname%>";
        if (grName.toUpperCase() === groupName.toUpperCase()) {
          $('#errorMessageGroupName').html("Sorry, group with this name already exists");
          e.preventDefault();
        }
        <%}%>

        //Email validation
        var tags = $("#magicsuggest").val();
        var values = [];
        for (i=0; i<tags.length; i++) {
          tags[i] = tags[i].trim();

          if (tags[i] != "") {
            values[i] = tags[i];
          }

        }
        for(i=0; i<values.length; i++){
          //If user tries to create a group with no members display an error message
          if (values[i] == ""){
            $('#errorMessage').html("Please add members to your group");
            e.preventDefault();
          } else {
              if( !isValidEmailAddress( values[i] ) ) {
                $('#errorMessage').html("Sorry, '" + values[i] + "' is not an email or is not a gmail! Please remove it and enter a proper email like (Ex: example@gmail.com)");
                e.preventDefault();
              } else if ( userList.indexOf(values[i]) == -1 ){
                $('#errorMessage').html("Sorry, '" + values[i] + "' does not have a Freetime account. Please enter a valid account.");
                e.preventDefault();
              }
          }
        }
      });
      /* END: GROUP MODAL */

        var email = '<%=user.google.email%>';
        var timeMin = '<%=meeting.timeMin%>';
        var timeMax = '<%=meeting.timeMax%>';
        var meetingName = '<%=meeting.name%>';
        var meetingid = '<%=meeting.id%>';
        var meetinglocation = '<%=meeting.location%>';

        var myObject =  {
          "Email": email,
          "TimeMin": timeMin,
          "TimeMax": timeMax,
          "MeetingName": meetingName,
          "MeetingID": meetingid,
          "MeetingLocation": meetinglocation
        };
        if(<%=meeting.final%>==false){// moderator code
            var days = [];
            var enddays = [];
            for(var i = 0; i < <%=startDays.length%>; i++) {
                //start
                var startDay = document.getElementById("startDay" + i).innerHTML;
                startDay = startDay.split(" ");
                var month = startDay[1] ;
                var day = startDay[2];
                var year = startDay[3];
                var time = startDay[4];
                var start = moment(month + "/" + day + "/" +year + " " + time,"MMM/DD/YYYY hh:mma" )  ;
                days.push(start);
                //end
                var endDay = document.getElementById("endDay" + i).innerHTML;
                endDay = endDay.split(" ");
                var month = endDay[1] ;
                var day = endDay[2];
                var year = endDay[3];
                var time = endDay[4];
                var end = moment(month + "/" + day + "/" +year + " " + time,"MMM/DD/YYYY hh:mma" ).subtract(<%=meeting.duration%>,"h");
                enddays.push(end);
                var s = '.date'+i;
                $(s).datetimepicker({
                    defaultDate:days[i],
                    minDate: days[i],
                    maxDate: enddays[i]
                });
            }}// end of moderator code

        // Your Client ID can be retrieved from your project in the Google
        // Developer Console, https://console.developers.google.com
        var CLIENT_ID = '813433863993-dn497fmkof7a11h31rt6n7e1tubm2t68.apps.googleusercontent.com';
        var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly","https://www.googleapis.com/auth/calendar"];
        /**
         * Check if current user has authorized this application.
         */
        function checkAuth() {
            gapi.auth.authorize(
                    {
                        'client_id': CLIENT_ID,
                        'scope': SCOPES.join(' '),
                        'immediate': true
                    }, handleAuthResult);
        }
        /**
         * Handle response from authorization server.
         *
         * @param {Object} authResult Authorization result.
         */
        function handleAuthResult(authResult) {
            var authorizeDiv = document.getElementById('authorize-div');
            if (authResult && !authResult.error) {
                // Hide auth UI, then load client library.
                authorizeDiv.style.display = 'none';
                loadCalendarApi();
            } else {
                // Show auth UI, allowing the user to initiate authorization by
                // clicking authorize button.
                authorizeDiv.style.display = 'inline';
            }
        }
        /**
         * Initiate auth flow in response to user clicking authorize button.
         *
         * @param {Event} event Button click event.
         */
        function handleAuthClick(event) {
            gapi.auth.authorize(
                    {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
                    handleAuthResult);
            return false;
        }
        /**
         * Load Google Calendar client library. List upcoming events
         * once client library is loaded.
         */
        function loadCalendarApi() {
            gapi.client.load('calendar', 'v3', listUpcomingEvents);
        }
        /**
         * Print the summary and start datetime/date of the next ten events in
         * the authorized user's calendar. If no events are found an
         * appropriate message is printed.
         */
        function listUpcomingEvents() {
            var request = gapi.client.calendar.events.insert({
                'calendarId': email,
                'location': meetinglocation,
                'summary': meetingName,
                'start': {
                    'dateTime': timeMin,
                    'timeZone': 'GMT-05:00'
                },
                'end': {
                    'dateTime': timeMax,
                    'timeZone': 'GMT-05:00'
                }
            });
            request.execute(function(resp) {
                $.post("/submitted/"+meetingid);
                console.log(resp);
            });
        }
    </script>
</body>
</html>
