<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Freetime - <%= group.name %> Profile</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/time-date-management-1/64/time__data_management-12-128.png">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDTNk4IZXKgeVTFbC5C1JqXKyArkMz1KR8&sensor=false&libraries=places"></script>

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.11/jquery.timepicker.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2.1.19/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />

    <!-- Custom CSS -->
    <link href="/public/stylesheets/Views/group.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

</head>
<body>
    <!-- Navigation -->
    <% include templates/nav-meetings.ejs %>

    <!-- Content -->
    <div id="page-container">
        <nav class="nav">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active tab-style" data-toggle="tab" id="group-meetings-tab"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Group Meetings</a></li>
              <li role="presentation" class="tab-style" data-toggle="tab" id="group-calendar-tab"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Group Calendar</a></li>
              <li role="presentation" class="tab-style" data-toggle="tab" id="group-members-tab"><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Group Members</a></li>
            </ul>
        </nav>
        <!-- /.nav-tabs -->
        <!-- If their are no meetings, show the user a fun message. -->
        <div class="meetings show">
          <% if(group.meetings.length == 0){%>
            <div class="no-meeting-msg meetings show">
                <img src="./../public/images/calendar.png" class="calendar-img"></img>
                <h1>YOUR GROUP DOESN'T HAVE ANY MEETINGS AS YET</h1>
                <h4>not to worry... get started by scheduling a meeting</h4>
            </div>
          <%} else {%>
            <% for(var i = 0; i < group.meetings.length; i++) { %>
                <!-- Create panel based on passed meetings, the last check is to allow for the really old passed meetings to clear out. -->
                <% if(new Date(group.meetings[i].timeMax) < new Date() && group.meetings[i].final == true && moment(group.meetings[i].timeMax).fromNow() != "7 days ago") { %>
                    <div class="meeting-panel">
                            <a href='/meetingConfirmation/<%=group.id%>/<%=group.meetings[i].meetingID%>' id="meetingPage"><h3><%= group.meetings[i].meetingName%></h3></a><span class="status passed">PASSED</span>
                            <span class="divide"></span>
                            <div class="meeting-content">
                            <i class="fa fa-calendar" aria-hidden="true"></i> Meeting was held sometime between <%= group.meetings[i].startTime%> & <%= group.meetings[i].endTime%> on <%= moment(group.meetings[i].startDay).format("MMM Do, YYYY") %>
                            <br><span class="glyphicon glyphicon-time"></span> <%= group.meetings[i].duration %> hour
                            <br><span class="glyphicon glyphicon-map-marker"></span> <%= group.meetings[i].location %>
                            <br><i class="fa fa-users" aria-hidden="true"></i> <%= group.members.length %> Members Attended
                            </div>
                    </div>

                <!-- Create panel based on pending meetings -->
                <%} else if (new Date(group.meetings[i].timeMax) > new Date() && group.meetings[i].final == false) {%>

                    <div class="meeting-panel">
                            <a href='/meeting/<%=group.id%>/<%=group.meetings[i].meetingID%>' id="meetingPage"><h3><%= group.meetings[i].meetingName%></h3></a><span class="status pending">PENDING</span>
                            <span class="divide"></span>
                            <div class="meeting-content">
                            <i class="fa fa-calendar" aria-hidden="true"></i> Meeting will be held <%= group.meetings[i].startTime%> & <%= group.meetings[i].endTime%> on <%= moment(group.meetings[i].startDay).format("MMM Do, YYYY") %>
                            <br><span class="glyphicon glyphicon-time"></span> <%= group.meetings[i].duration %> hour
                            <br><span class="glyphicon glyphicon-map-marker"></span> <%=group.meetings[i].location %>
                            <br><i class="fa fa-users" aria-hidden="true"></i> <%= group.members.length %> Members Attending
                            </div>
                    </div>

                <!-- Create panel based on upcoming meetings -->
                <%} else if (new Date(group.meetings[i].timeMax) > new Date() && group.meetings[i].final == true) {%>
                    <div class="meeting-panel">
                            <a href='/meetingConfirmation/<%=group.id%>/<%=group.meetings[i].meetingID%>' id="meetingPage"><h3><%= group.meetings[i].meetingName%></h3></a><span class="status complete">COMPLETE</span>
                            <span class="divide"></span>
                            <div class="meeting-content">
                            <i class="fa fa-calendar" aria-hidden="true"></i> Meeting will be held <%= group.meetings[i].startTime%> & <%= group.meetings[i].endTime%> on <%= moment(group.meetings[i].startDay).format("MMM Do, YYYY") %>
                            <br><span class="glyphicon glyphicon-time"></span> <%= group.meetings[i].duration %> hour
                            <br><span class="glyphicon glyphicon-map-marker"></span> <%=group.meetings[i].location %>
                            <br><i class="fa fa-users" aria-hidden="true"></i> <%= group.members.length %> Members Attending
                            </div>
                    </div>
                <%}%>
            <%}}%>

        </div>
        <!-- /.meetings -->

        <div class="groupCal">
            <div id='calendar'></div>
        </div>
        <!-- /.groupCal -->

        <div class="members">

            <h1>Members: <%= group.members.length %></h1>
            <% for(var i= 0; i < group.members.length; i++) {%>

                <div class="member-panel">
                    <img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" class="center-block img-circle img-responsive">
                    <h4><%= group.members[i].name %></h4>
                  <p><%= group.members[i].email %></p>
                </div>

            <%}%>

        </div>
        <!-- /.members -->
    </div>
    <!-- /.page-content -->

   <!-- Create Leave Group Btn & Modal -->
    <div id="leaveGroupModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Leave Group</h4>
            </div>
                <form action="/group/<%=group.id%>/removeUser" method="post" id="thisForm">
                    <div class="modal-body">
                    <div class="form-group">
                        <label>Are you sure you would like to remove yourself from this group?</label>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-lg" id="yesRemove">Yes</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default btn-lg" id="noRemove">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal -->

    <!-- Calendar Pop-Up Modal -->
    <div id="fullCalModal" class="modal fade fullCalModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content fullCal-content">
                <div class="modal-header fullCal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h4 id="modalTitle" class="modal-title fullCal-title"></h4>
                </div>
                <div id="modalDescription" class="modal-body fullCal-body"></div>
            </div>
        </div>
    </div>
    <!-- /.fullCalModal -->

    <!-- JQuery Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.11/jquery.timepicker.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>

    <!-- Other Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2.1.19/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>


    <!-- Custom Scripts -->
    <script src="/public/js/groupProfile.js"></script>
    <script src="/public/js/script.js"></script>
    <script>

    var pusher = new Pusher('4bf7606d6b203524d576', {
        encrypted: true
    });

    //NOTIFS: Check for notifications every time the page is loaded
    var notificationCount = 0;
    //Count how many notifications there are
    <%for (var x=userEvents.length -1; x >= 0; x--){%>
        if (<%=userEvents[x].viewed%> == false) {
          notificationCount = notificationCount + 1;
        }
    <%}%>

    // console.log(nonzeroL.length);
    var nonzeroL = [];
    


    //If there is more than '0', show the # of notifs above the icon
    if (notificationCount > 0){
      $("#count").text(notificationCount);
    }  else {
      $("#count").addClass('hide');
    }
    //END NOTIF

    addEvent = function(data){
      $("#count").removeClass('hide');
      var notificationCount = $("#count").text();
      if (notificationCount == null || notificationCount == ""){
        notificationCount = 0;
      }
      notificationCount = parseInt(notificationCount);
      $("#count").text(notificationCount + 1);

      $("#notifList").prepend(data.msg);
    //  $("#notifList li:first-child a").attr('href', data.href);
      if(data.count == 1){
        $("#notifList li:last-child").remove();
      }
      if(data.count > 5){
        $("#notifList li:nth-last-child(3)").remove();
      }

      /* Add new group to the group dropdown
       * if user has 0 groups, then add a group divider first
       */
       if (data.type == "group") {
         if(!$("#group-divider").length){
           $("#create-group-btn").before('<li role="seperator" class="divider" id="group-divider">');
         }
         $("#group-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");

       }
       else if (data.type == "meeting") {
         if(!$("#meeting-divider").length){
           $("#create-meeting-btn").before('<li role="seperator" class="divider" id="meeting-divider">');
         }
         $("#meeting-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");

       }

      // Add 'ring' class to bell icon for animation
      $("#notifIcon").addClass('ring');
      setTimeout(function(){
        $("#notifIcon").removeClass('ring');
      }, 1000);

    };

    $("#notifIcon").click(function(){
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        if(xhr.status == 200){
          $("#count").replaceWith("");
        }
      }
      xhr.open('GET', '/resetNotifs', true);
      xhr.send();

    });

    var user = '<%=user.google.email%>';
    var channel = pusher.subscribe(user);
    channel.bind('newEvent', function(data){
      addEvent(data);
    });

    /* GROUP MODAL */
    var availableTags = "<%= knownNetwork %>".split(",");
    var tags = $('#magicsuggest').magicSuggest({
      vregex: /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i,
      hideTrigger: true,
      allowFreeEntries: true,
      toggleOnClick: false,
      strictSuggest: true,
      resultAsString: true,
      data: availableTags
    });

    // Because magicsugges has conflicts with ejs, I have a silent input where the values from the magicsuggest is stored.
    $(tags).on('selectionchange', function() {
      document.getElementById("tags").value = this.getValue();
    });

    function isValidEmailAddress(emailAddress) {
      var pattern = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i;
      return pattern.test(emailAddress);
    };
    // Group Name/Email Validation
    $("#createGroupBtn").click(function(e) {
      var groupName = $("#groupName").val();
      var grName = "";

      //Group Name validation
      <% for(var i = 0; i < user.google.groups.length; i++) { %>
        grName = "<%= user.google.groups[i].groupname%>";
        if (grName.toUpperCase() === groupName.toUpperCase()) {
          $('#errorMessageGroupName').html("Sorry, group with this name already exists");
          e.preventDefault();
        }
        <%}%>

        //Email validation
        var tags = $("#magicsuggest").val();
        var values = [];
        for (i=0; i<tags.length; i++) {
          tags[i] = tags[i].trim();

          if (tags[i] != "") {
            values[i] = tags[i];
          }

        }
        for(i=0; i<values.length; i++){
          //If user tries to create a group with no members display an error message
          if (values[i] == ""){
            $('#errorMessage').html("Please add members to your group");
            e.preventDefault();
          } else {
              if( !isValidEmailAddress( values[i] ) ) {
                $('#errorMessage').html("Sorry, '" + values[i] + "' is not an email or is not a gmail! Please remove it and enter a proper email like (Ex: example@gmail.com)");
                e.preventDefault();
              } else if ( userList.indexOf(values[i]) == -1 ){
                $('#errorMessage').html("Sorry, '" + values[i] + "' does not have a Freetime account. Please enter a valid account.");
                e.preventDefault();
              }
          }
        }
      });
      /* END: GROUP MODAL */

        $(document).ready(function () {
        // Dates/Times for the user to pick and choose to meet.
          $('input[name="daterange"]').daterangepicker({
              timePicker: true,
              timePickerIncrement: 15,
              locale: {
                  format: 'MM/DD/YYYY h:mm A'
              },
              "opens": "center",
              "drops": "up",
              minDate: new Date()
          });



			// Meeting Name Validation
      $("#thisButton").click(function(e) {
				var meetingName = $("#meetingName").val();
				var meetName = "";
				<% for(var i = 0; i < group.meetings.length; i++) { %>
					meetName = "<%= group.meetings[i].meetingName%>";
					if (meetName.toUpperCase() === meetingName.toUpperCase()) {
						$('#errorMessageMeetingName').html("Sorry, meeting with this name already exists");
						e.preventDefault();
					}
			  <%}%>
      });

            // Color codes each event based on it being an upcoming (both past current date and final),
            // pending (both past current date and not final) or
            // passed (when the end date is passed the current date).
            var currentDate = new Date();
            var myCalendar = $('#calendar');
            var arrayEvent = [];

            function getEvents(){
                <% for(var i = 0; i < group.meetings.length; i++) { %>

                    var startDay = '<%= group.meetings[i].startDay%>'.split("/");
                    var startTime = moment('<%= group.meetings[i].startTime%>', 'h:mm a').format('H:mm'); // Convert from 12-hour format to 24-hour
                    var endDay = '<%= group.meetings[i].endDay%>'.split("/");
                    var endTime = moment('<%= group.meetings[i].endTime%>', 'h:mm a').format('H:mm'); // Convert from 12-hour format to 24-hour
                    var startDayFormatted = startDay[2] + "-" + startDay[0] + "-" + startDay[1] + " " + startTime;
                    var endedDayFormatted = endDay[2] + "-" + endDay[0] + "-" + endDay[1] + " " + endTime;

                    // Initials choice of dates
                    var start = new Date(moment(startDayFormatted).toDate());
                    var end = new Date(moment(endedDayFormatted).toDate());

                    // Final choice of dates
                    var timeMin = new Date('<%=group.meetings[i].timeMin%>');
                    var timeMax = new Date('<%=group.meetings[i].timeMax%>');

                    // If currentDate is past the meetingDate than it will return a red color code, for passed meeting.
                    if(end < currentDate || timeMax < currentDate){
                        var passedEvent = {
                            title: '<%= group.meetings[i].meetingName%>',
                            allDay: false,
                            start: start,
                            end: end,
                            color: '#f44336', // Red
                            description: 'passed'
                        };

                        if('<%=group.meetings[i].final%>' == 'true') {
                            passedEvent.start = timeMin;
                            passedEvent.end = timeMax;
                        }

                        arrayEvent.push(passedEvent);

                    // If the meeting end date is still after the current date and is pending a confirmation, then it will return a yellow color code, for pending meetings.
                    } else if(end > currentDate && '<%=group.meetings[i].final%>' == 'false') {
                        var pendingEvent = {
                            title: '<%= group.meetings[i].meetingName%>',
                            allDay: false,
                            start: start,
                            end: end,
                            color: '#FFEB3B', // Yellow
                            textColor: 'black',
                            description: 'pending'
                        };

                        arrayEvent.push(pendingEvent);

                    // If the meeting end date is still after the current date and is not pending a confirmation, then it will return a blue color code, for upcoming meetings.
                    } else if(timeMax > currentDate && '<%=group.meetings[i].final%>'=='true') {

                        var upcomingEvent = {
                            title: '<%= group.meetings[i].meetingName%>',
                            allDay: false,
                            start: timeMin,
                            end: timeMax,
                            color: '#2196F3', // Blue
                            description: 'upcoming'
                        };

                        arrayEvent.push(upcomingEvent);

                    }

                <%}%>

                return arrayEvent;
            }

            $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: 'prev title next',
                    right: ''
                },
                eventClick:  function(event) {
                    $('#modalTitle').html(event.title);
                    if (event.description == "passed") {
                        $('#modalDescription').html('Your meeting has ' + event.description + '. The meeting was scheduled from ' + moment(event.start).format('MMM Do h:mm A') + ' to ' + moment(event.end).format('MMM Do h:mm A') + '.');
                    } else if(event.description == "pending") {
                        $('#modalDescription').html('Your meeting is currently ' + event.description + ' and awaiting an approval from you. The meeting meeting is scheduled from ' + moment(event.start).format('MMM Do h:mm A') + ' to ' + moment(event.end).format('MMM Do h:mm A') + '.');
                    } else if (event.description == "upcoming"){
                        $('#modalDescription').html('Your meeting has been approved by all members and is ' + event.description + '. The meeting will start at ' + moment(event.start).format('MMM Do h:mm A') + 'and end at ' + moment(event.end).format('MMM Do h:mm A') + '.');
                    }

                    $('#fullCalModal').modal("toggle");
                },
                displayEventEnd: {
                    month: true,
                },
                events: getEvents()
            });
        });
    </script>
</body>
</html>
