<!DOCTYPE html>
<html lang="en">
<head>
    <title>Freetime - Help Page</title>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/time-date-management-1/64/time__data_management-12-128.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Other CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/stylesheets/Views/help.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
    <div id="wrapper">

        <% include templates/nav-help.ejs %>

        <!-- Start of Page Container -->
        <div id="page-container">
                <div class="page-header text-center">
                    <h2>How to give Freetime permission to your Google Calendar</h2>
                </div>

                <div class="row">
                    <div class="col-md-12">
                      <h4>Step 1</h4>
                      <p>Access your google calendar, you can access it via the box circled or by going to <a href="https://calendar.google.com/calendar" style="text-decoration: none;">https://calendar.google.com/calendar</a></p>
                      <h4>Step 2</h4>
                      <p>After you have accessed your google calendar, pick and choose the calendar that
                        you use the most to give you the most accurate times to choose within your group.</p>

                      <img src="http://s30.postimg.org/hg68oh0i9/image.png" class="panel-image-preview" />
                    </div>
                  </div>
                  <div class="row ">
                      <div class="col-md-12">
                        <h4>Step 3</h4>
                        <p>Finally after you have choosen the calendar to use for Freetime, go ahead and
                          set the option to share your free\busy times from your calendar. Don't worry, we
                          will only see the time when you are free / busy.</p>
                          <img src="http://s30.postimg.org/ko64nrxe9/image.png" class="panel-image-preview" />
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <h4>Step 4</h4>
                        <p>Make sure the option to share the calendar and then there will be a dropdown menu
                          and it'll show the option of sharing free/busy details.</p>
                          <img src="http://s21.postimg.org/q1imrt90n/image.png" class="panel-image-preview" />
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <h4>Step 5</h4>
                        <p>Select the "See only free/busy (hide details)" option</p>
                        <img src="http://s28.postimg.org/497fb84b1/image.png" class="panel-image-preview" />
                      </div>
                  </div>
        </div>
        <!-- End of Page Container -->

    </div>
    <!-- /#wrapper -->

    <!-- JQuery Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Other Scripts-->
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>



    <script>
    var pusher = new Pusher('4bf7606d6b203524d576', {
        encrypted: true
      });

    //NOTIFS: Check for notifications every time the page is loaded
    var notificationCount = 0;
    //Count how many notifications there are
    <%for (var x=userEvents.length -1; x >= 0; x--){%>
        if (<%=userEvents[x].viewed%> == false) {
          notificationCount = notificationCount + 1;
        }
    <%}%>


    //If there is more than '0', show the # of notifs above the icon
    if (notificationCount > 0){
      $("#count").text(notificationCount);
    } else {
      $("#count").addClass('hide');
    }
    console.log("notifications: " + notificationCount );
    addEvent = function(data){
      $("#count").removeClass('hide');
      var notificationCount = $("#count").text();
      if (notificationCount == null || notificationCount == ""){
        notificationCount = 0;
      }
      notificationCount = parseInt(notificationCount);
      $("#count").text(notificationCount + 1);

      $("#notifList").prepend(data.msg);
      //$("#notifList li:first-child a").attr('href', data.href);
      if(data.count == 1){
        $("#notifList li:last-child").remove();
      }
      if(data.count > 5){
        $("#notifList li:nth-last-child(3)").remove();
      }

      /* Add new group/meeting to the respective dropdown
       * if user has 0 groups/meetings, then add a group/meeting divider first
       */
      if (data.type == "group") {
        if(!$("#group-divider").length){
          $("#create-group-btn").before('<li role="seperator" class="divider" id="group-divider">');
        }
        $("#group-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");
      }

      // Add 'ring' class to bell icon for animation
      $("#notifIcon").addClass('ring');
      setTimeout(function(){
        $("#notifIcon").removeClass('ring');
      }, 1000);

    };

    $("#notifIcon").click(function(){
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        if(xhr.status == 200){
          $("#count").replaceWith("");
        }
      }
      xhr.open('GET', '/resetNotifs', true);
      xhr.send();
    });

    //give the user own channel for notifications
    var user = '<%=user.google.email%>';
    var channel = pusher.subscribe(user);
    channel.bind('newEvent', function(data){
      addEvent(data);
    });
        $(document).ready(function () {

            // Step 2 Panel
            $('#step2').css('opacity', 0);
            $("#step2").waypoint(function() {
                $('#step2').addClass('bounceIn').css('opacity', 1);
            }, {offset: '20%'});

            // Step 3 Panel
            $('#step3').css('opacity', 0);
            $("#step3").waypoint(function() {
                $('#step3').addClass('bounceIn').css('opacity', 1);
            }, {offset: '50%'});

            // Step 4 Panel
            $('#step4').css('opacity', 0);
            $("#step4").waypoint(function() {
                $('#step4').addClass('bounceIn').css('opacity', 1);
            }, {offset: '65%'});

        });
    </script>
</body>
</html>
