<!DOCTYPE html>
<html>
<head>
    <title>Freetime</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/time-date-management-1/64/time__data_management-12-128.png">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom & Other CSS -->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/Views/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />
</head>
<body>

    <!-- Header -->
    <header>
        <a name="sign-in"></a>
        <div class="landing-header">
             <div class="opacity-layer">
                <div class="container">
                    <div class="animated login-header" >
                        <h1>FreeTime</h1>
                        <p><i>Scheduling group meetings within minutes</i></p>
                        <hr class="intro-divider">
                        <h3>Login with your Google Account:</h3>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/auth/google" class="btn btn-default btn-lg" style="border-radius: 15px;"><i class="fa fa-google fa-fw fa-lg"></i><span class="network-name"> G O O G L E</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->

    <!-- Main -->
     <main>
        <a name="services"></a>
        <div class="row " id="mainInfo">
            <div class="col-sm-12 col-md-5 maininfo-cols animated" id="div1">
                <p style="color: white; font-weight: 100;">What our</p>
                <p style="color: white">simple scheduling app</p>
                <p style="color: white; font-weight: 100;">does for you</p>
            </div>
            <div class="col-sm-12 col-md-7 maininfo-cols animated" id="div2" >
                <p>Scheduling group meetings can be a long drawn process. The issue arises when attempting to find the most convenient time while working around each member's availability. This problem becomes much harder to solve as the group grows larger. FreeTime is a web application that will make setting up a meeting much more simpler. It uses Google Calendar services & compares all the user's free time, allowing you to choose the best available time for their meeting.</p>
            </div>
        </div>

        <div class="text-center container team">
            <a name="aboutus"></a>
            <h1 class="animated" id="meettheteam" style="opacity: 0">Meet The Team</h1>
            <hr class="team-hr animated">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="panel panel-default animated" id="markstanley" >
                        <div class="markstanley"><div class="image-layer"></div></div>
                        <div class="my-panel-body">
                            <h1>Mark Stanley</h1>
                            <p>UI Designer & Fullstack Developer</p>


                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="panel panel-default animated" id="dominicaidoo">
                        <div class="dominic"><div class="image-layer"></div></div>
                        <div class="my-panel-body">
                            <h1>Dominic Poku-Aidoo</h1>
                            <p>Fullstack Developer</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="panel panel-default animated" id="rogerioribeiro">
                        <div class="rogerio"><div class="image-layer"></div></div>
                        <div class="my-panel-body">
                            <h1>Rogerio Ribeiro</h1>
                            <p>Frontend Developer</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End of Main -->

    <!-- Footer -->
    <footer style="background-color: #EBEBEB; padding: 15px;">

        <div class="footer-nav">
            <p class="footer-links">
                <a href="#sign-in">Sign-in</a>
                <a href="#services">Services</a>
                <a href="#aboutus">About</a>
                <a href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
            </p>
        </div>

        <div class="footer-copy">
            <p>Freetime &copy; 2016</p>
        </div>

    </footer>
    <!-- End of Footer -->

    <!-- Contact Modal -->
   <div id="contactModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Give us your opinions!</h4>
                </div>

                <form action="/profile" method="post" id="thisForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label><br>
                            <input type="text" class="form-control" placeholder="Enter your name"><br>
                            <label>Your Message</label><br>
                            <input type="text" class="form-control" placeholder="Send us a lovely message ...">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning btn-lg" id="thisButton">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /#modal -->

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Other JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script>
        $(document).ready(function () {

            // Jumbotron
            setTimeout(function() {
                $('#intro-message').addClass("slideInUp").css('opacity', 1);
            }, 1000);

            // Div1
            $('#div1').css('opacity', 0);
            $('#div1').waypoint(function() {
                $('#div1').addClass('fadeInLeft');
            }, {offset: '50%'});

            // Div2
            $('#div2').css('opacity', 0);
            $('#div2').waypoint(function() {
                $('#div2').addClass('fadeInRight');
            }, {offset: '50%'});

            // Meet The Team (Title)
            // $('#meetheteam').css('opacity', 0);
            $('#meettheteam').waypoint(function() {
                $('#meettheteam').addClass('bounceInUp').animate({"opacity" : "1"});
            }, {offset: '50%'});

            $('.team-hr').waypoint(function() {
                $('.team-hr').addClass('bounceInUp').animate({"opacity" : "1"});
            }, {offset: '50%'});

            // Mark Stanley
            $('#markstanley').css('opacity', 0);
            $('#markstanley').waypoint(function() {
                $('#markstanley').addClass('fadeInLeft');
            }, {offset: '50%'});

            // Dominic Aidoo
            $('#dominicaidoo').css('opacity', 0);
            $('#dominicaidoo').waypoint(function() {
                $('#dominicaidoo').addClass('fadeInUp');
            }, {offset: '50%'});

            // Rogerio Ribeiro
            $('#rogerioribeiro').css('opacity', 0);
            $('#rogerioribeiro').waypoint(function() {
                $('#rogerioribeiro').addClass('fadeInRight');
            }, {offset: '50%'});


        });
    </script>
</body>
</html>
