<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freetime - <%= meeting.name %></title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/time-date-management-1/64/time__data_management-12-128.png">

  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Stylesheets -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2.1.19/daterangepicker.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="/public/stylesheets/Views/confirmation.css">

  <!-- Socket.io -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

  <!-- jQuery & Google Maps -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDTNk4IZXKgeVTFbC5C1JqXKyArkMz1KR8"></script>

  <script type="text/javascript">
  var geocoder;
    var map;
    var address = '<%= meeting.location %>';
    function initialize() {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(-34.397, 150.644);
      var myOptions = {
        zoom: 15,
        center: latlng,
      mapTypeControl: true,
      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
      navigationControl: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
      if (geocoder) {
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
            map.setCenter(results[0].geometry.location);

              var infowindow = new google.maps.InfoWindow(
                  { content: '<b>'+address+'</b>',
                    size: new google.maps.Size(150,150)
                  });

              var marker = new google.maps.Marker({
                  position: results[0].geometry.location,
                  map: map,
                  title:address
              });
              google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map,marker);
              });

            } else {
              alert("No results found");
            }
          } else {
            alert("Geocode was not successful for the following reason: " + status);
          }
        });
      }
    }
  </script>
</head>
<body onload= "initialize()">

    <!-- Navigation -->
    <% include templates/nav-meetings.ejs %>

    <!-- Page Content -->
    <div class="page-content">
      <div class="page-header">
         <h4>A FINAL MEETING TIME HAS BEEN SELECTED</h4>
      </div>

      <div class="meeting-panel container" style="text-align: center;">
          <h1><%= meeting.name%></h1>
          <span class="divide"></span>
          <div class="meeting-content">
            <div class="row info-map">
              <div class="col-sm-12 col-md-6 info">
                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                <p>Start Time: <%= meeting.timeString.start.string %></p>
                <p>End Time: <%= meeting.timeString.end.string %></p>
                <span class="glyphicon glyphicon-time"></span> <p><%= meeting.duration %> hour(s)</p>
                <span class="glyphicon glyphicon-map-marker"></span> <p><%= meeting.location %></p>
              </div>
              <div class="col-sm-12 col-md-6 map">
                <div class="google-map-canvas" id="map-canvas">
              </div>
            </div>
          </div>
          <div class="row add-msg">
            <div class="col-12 a">
              <%if(meeting.submittedUsers.indexOf(user.google.email) > -1){%>
                <div>
                  <h4>You already added this meeting to your calendar</h4>
                </div>
              <%} else {%>

                <div id="authorize-div">
                  <!--Button for the user to click to initiate auth sequence -->
                  <a id="authorize-button" onclick="handleAuthClick(event)" class="calendar-button">
                    <button class="add-btn" type="button">Add to Google Calendar</button>
                  </a>
                </div>
              <%}%>
            </div>
          </div>
          <!-- /.meeting-content -->
      </div>
      <!-- /.meeting-panel -->
    </div>
    <!-- /.page-content -->

    <!-- Google Auth -->
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

    <!-- jQuery Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2.1.19/daterangepicker.js"></script>

    <!-- Other Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>



    <script>
    var pusher = new Pusher('4bf7606d6b203524d576', {
        encrypted: true
      });

    //NOTIFS: Check for notifications every time the page is loaded
    var notificationCount = 0;
    //Count how many notifications there are
    <%for (var x=userEvents.length -1; x >= 0; x--){%>
        if (<%=userEvents[x].viewed%> == false) {
          notificationCount = notificationCount + 1;
        }
    <%}%>


    //If there is more than '0', show the # of notifs above the icon
    if (notificationCount > 0){
      $("#count").text(notificationCount);
    }  else {
      $("#count").addClass('hide');
    }
    //END NOTIF

    addEvent = function(data){
      $("#count").removeClass('hide');
      var notificationCount = $("#count").text();
      if (notificationCount == null || notificationCount == ""){
        notificationCount = 0;
      }
      notificationCount = parseInt(notificationCount);
      $("#count").text(notificationCount + 1);

      $("#notifList").prepend(data.msg);
    //  $("#notifList li:first-child a").attr('href', data.href);
      if(data.count == 1){
        $("#notifList li:last-child").remove();
      }
      if(data.count > 5){
        $("#notifList li:nth-last-child(3)").remove();
      }

      /* Add new group to the group dropdown
       * if user has 0 groups, then add a group divider first
       */
       if (data.type == "group") {
         if(!$("#group-divider").length){
           $("#create-group-btn").before('<li role="seperator" class="divider" id="group-divider">');
         }
         $("#group-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");

       }
       else if (data.type == "meeting") {
         if(!$("#meeting-divider").length){
           $("#create-meeting-btn").before('<li role="seperator" class="divider" id="meeting-divider">');
         }
         $("#meeting-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");

       }

      //Count how many notifications there are
      <%for (var x=userEvents.length -1; x >= 0; x--){%>
        if (<%=userEvents[x].viewed%> == false) {
          notificationCount = notificationCount + 1;
        }
      <%}%>

      //If there is more than '0', show the # of notifs above the icon
      if (notificationCount > 0){
        $("#count").text(notificationCount);
      }

      // Add 'ring' class to bell icon for animation
      $("#notifIcon").addClass('ring');
      setTimeout(function(){
        $("#notifIcon").removeClass('ring');
      }, 1000);

    };

    $("#notifIcon").click(function(){
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        if(xhr.status == 200){
          $("#count").replaceWith("");
        }
      }
      xhr.open('GET', '/resetNotifs', true);
      xhr.send();
    });

    var user = '<%=user.google.email%>';
    var channel = pusher.subscribe(user);
    channel.bind('newEvent', function(data){
      addEvent(data);
    });

    /* GROUP MODAL */
    var availableTags = "<%= knownNetwork %>".split(",");
    var tags = $('#magicsuggest').magicSuggest({
      vregex: /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i,
      hideTrigger: true,
      allowFreeEntries: true,
      toggleOnClick: false,
      strictSuggest: true,
      resultAsString: true,
      data: availableTags
    });

    // Because magicsugges has conflicts with ejs, I have a silent input where the values from the magicsuggest is stored.
    $(tags).on('selectionchange', function() {
      document.getElementById("tags").value = this.getValue();
    });

    function isValidEmailAddress(emailAddress) {
      var pattern = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i;
      return pattern.test(emailAddress);
    };
    // Group Name/Email Validation
    $("#createGroupBtn").click(function(e) {
      var groupName = $("#groupName").val();
      var grName = "";

      //Group Name validation
      <% for(var i = 0; i < user.google.groups.length; i++) { %>
        grName = "<%= user.google.groups[i].groupname%>";
        if (grName.toUpperCase() === groupName.toUpperCase()) {
          $('#errorMessageGroupName').html("Sorry, group with this name already exists");
          e.preventDefault();
        }
        <%}%>

        //Email validation
        var tags = $("#magicsuggest").val();
        var values = [];
        for (i=0; i<tags.length; i++) {
          tags[i] = tags[i].trim();

          if (tags[i] != "") {
            values[i] = tags[i];
          }

        }
        for(i=0; i<values.length; i++){
          //If user tries to create a group with no members display an error message
          if (values[i] == ""){
            $('#errorMessage').html("Please add members to your group");
            e.preventDefault();
          } else {
              if( !isValidEmailAddress( values[i] ) ) {
                $('#errorMessage').html("Sorry, '" + values[i] + "' is not an email or is not a gmail! Please remove it and enter a proper email like (Ex: example@gmail.com)");
                e.preventDefault();
              } else if ( userList.indexOf(values[i]) == -1 ){
                $('#errorMessage').html("Sorry, '" + values[i] + "' does not have a Freetime account. Please enter a valid account.");
                e.preventDefault();
              }
          }
        }
      });
      /* END: GROUP MODAL */

    var email = '<%=user.google.email%>';
    var timemin = '<%=meeting.timeMin%>'.replace("-0400 (EDT)", "");
    var timeMin = new Date(timemin).toISOString().replace(".000Z","-0400");
    var timemax = '<%=meeting.timeMax%>'.replace("-0400 (EDT)", "");
    var timeMax = new Date(timemax).toISOString().replace(".000Z","-0400");
    var meetingName = '<%=meeting.name%>';
    var meetingid = '<%=meeting.id%>';
    var meetinglocation = '<%=meeting.location%>';
    var myObject =  {
      "Email": email,
      "TimeMin": timeMin,
      "TimeMax": timeMax,
      "MeetingName": meetingName,
      "MeetingID": meetingid,
      "MeetingLocation": meetinglocation
    };
    console.log(myObject);
    // Your Client ID can be retrieved from your project in the Google
    // Developer Console, https://console.developers.google.com
    var CLIENT_ID = '813433863993-dn497fmkof7a11h31rt6n7e1tubm2t68.apps.googleusercontent.com';
    var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly","https://www.googleapis.com/auth/calendar"];
    /**
     * Check if current user has authorized this application.
     */
    function checkAuth() {
        gapi.auth.authorize(
                {
                    'client_id': CLIENT_ID,
                    'scope': SCOPES.join(' '),
                    'immediate': true
                }, handleAuthResult);
    }
    /**
     * Handle response from authorization server.
     *
     * @param {Object} authResult Authorization result.
     */
    function handleAuthResult(authResult) {
        var authorizeDiv = document.getElementById('authorize-div');
        if (authResult && !authResult.error) {
            // Hide auth UI, then load client library.
            authorizeDiv.style.display = 'none';
            loadCalendarApi();
        } else {
            // Show auth UI, allowing the user to initiate authorization by
            // clicking authorize button.
            authorizeDiv.style.display = 'inline';
        }
    }
    /**
     * Initiate auth flow in response to user clicking authorize button.
     *
     * @param {Event} event Button click event.
     */
    function handleAuthClick(event) {
        gapi.auth.authorize(
                {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
                handleAuthResult);
        return false;
    }
    /**
     * Load Google Calendar client library. List upcoming events
     * once client library is loaded.
     */
    function loadCalendarApi() {
        gapi.client.load('calendar', 'v3', listUpcomingEvents);
    }
    /**
     * Print the summary and start datetime/date of the next ten events in
     * the authorized user's calendar. If no events are found an
     * appropriate message is printed.
     */
    function listUpcomingEvents() {
        var request = gapi.client.calendar.events.insert({
            'calendarId': email,
            'location': meetinglocation,
            'summary': meetingName,
            'start': {
                'dateTime': timeMin,
                'timeZone': 'GMT-05:00'
            },
            'end': {
                'dateTime': timeMax,
                'timeZone': 'GMT-05:00'
            }
        });
        request.execute(function(resp) {
            $.post("/submitted/"+meetingid);
            console.log(resp);
        });
    }
    </script>
</body>
</html>
