<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freetime - <%= meeting.name %></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/time-date-management-1/64/time__data_management-12-128.png">

    <!-- Font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.11/jquery.timepicker.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="/public/stylesheets/Views/meeting.css">

    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

</head>
<body>
  <!-- Navigation -->
  <% include templates/nav-meetings.ejs %>
  <!-- Content -->
  <div class="page-content">
      <div class="confirmation-panel">
          <div class="confirmation-header">
              <h1><%= meeting.name %></h1>
              <span class="divide"></span>
          </div>
          <!-- Confirmation panel on meeting page, informing the user of the details associated with the meeting. -->
          <div class="confirmation-content">
              <i class="fa fa-calendar" aria-hidden="true"></i>
                <%=meeting.timeString.start.time%>
                <%=meeting.timeString.start.dayOfWeek%> <%=meeting.timeString.start.month%> <%=meeting.timeString.start.dayOfMonth%>  <%=meeting.timeString.start.year%>
                  <br><span class="glyphicon glyphicon-time"></span>
                    <% if (meeting.duration > 1) { %>
                    <%=meeting.duration%> hrs.
                  <%} else {%>
                    <%=meeting.duration%> hr.
                  <%}%>
                  <br><span class="glyphicon glyphicon-map-marker"></span> <%= meeting.location %>
                  <br>
                  <% if(meeting.meetingMembers.length == meeting.membersAccepted.length) { %>
                  <% if(meeting.final){ %>
                    <a href="/meetingConfirmation/<%=groupID%>/<%=meeting.id%>"><button  class="attend-btn">Final time selected</button></a>
                  <%} else {%>

                    <a href="/getFreetime/<%=groupID%>/<%=meeting.id%>"><button  class="attend-btn">Possible Meeting Times</button></a>

                  <%}%>
                  <%} else if(meeting.membersAcceptedList.indexOf(user.google.email) > -1){%>
                    <br>
                    <p> Still waiting on members to submit times</p>
                  <%} else {%>
                    <div id="authorize-div">
                      <button class="attend-btn" id="authorize-button" onclick="handleAuthClick(event)">ATTEND</button>
                    </div>
                  <%}%>
          </div>
          <!-- /.confirmation-content -->
      </div>
      <!-- /.confirmation-panel -->
  </div>
  <!-- /.page-content -->


    <!-- Create Leave Meeting Btn & Modal -->
    <div id="leaveMeetingModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Not Attending Meeting</h4>
          </div>
          <form action="/removeMeeting/<%=groupID%>/<%=meeting.id%>" method="post" id="thisForm">

            <div class="modal-body">
              <div class="form-group">
                <label>Are you sure you would like to remove yourself from this meeting?</label>
              </div>
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-lg" id="yesRemove">Yes</button>
              <button type="button" data-dismiss="modal" class="btn btn-default btn-lg" id="noRemove">No</button>
            </div>
            <!-- /.modal-footer -->
          </form>
      </div>
      </div>
    </div>
    <!-- /.modal -->

    <!-- Google Auth -->
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Other Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2.1.19/daterangepicker.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>

    <script>
    var pusher = new Pusher('4bf7606d6b203524d576', {
        encrypted: true
      });

    //NOTIFS: Check for notifications every time the page is loaded
    var notificationCount = 0;
    //Count how many notifications there are
    <%for (var x=userEvents.length -1; x >= 0; x--){%>
        if (<%=userEvents[x].viewed%> == false) {
          notificationCount = notificationCount + 1;
        }
    <%}%>


    //If there is more than '0', show the # of notifs above the icon
    if (notificationCount > 0){
      $("#count").text(notificationCount);
    } else {
      $("#count").addClass('hide');
    }
    //END NOTIF

    addEvent = function(data){
      $("#count").removeClass('hide');
      var notificationCount = $("#count").text();
      if (notificationCount == null || notificationCount == ""){
        notificationCount = 0;
      }
      notificationCount = parseInt(notificationCount);
      $("#count").text(notificationCount + 1);

      $("#notifList").prepend(data.msg);
      //$("#notifList li:first-child a").attr('href', data.href);
      if(data.count == 1){
        $("#notifList li:last-child").remove();
      }
      if(data.count > 5){
        $("#notifList li:nth-last-child(3)").remove();
      }

      /* Add new group to the group dropdown
       * if user has 0 groups, then add a group divider first
       */
       if (data.type == "group") {
         if(!$("#group-divider").length){
           $("#create-group-btn").before('<li role="seperator" class="divider" id="group-divider">');
         }
         $("#group-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");

       }
       else if (data.type == "meeting") {
         if(!$("#meeting-divider").length){
           $("#create-meeting-btn").before('<li role="seperator" class="divider" id="meeting-divider">');
         }
         $("#meeting-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");

       }

      //Count how many notifications there are
      <%for (var x=userEvents.length -1; x >= 0; x--){%>
        if (<%=userEvents[x].viewed%> == false) {
          notificationCount = notificationCount + 1;
        }
      <%}%>

      //If there is more than '0', show the # of notifs above the icon
      if (notificationCount > 0){
        $("#count").text(notificationCount);
      }

      // Add 'ring' class to bell icon for animation
      $("#notifIcon").addClass('ring');
      setTimeout(function(){
        $("#notifIcon").removeClass('ring');
      }, 1000);

    };

    $("#notifIcon").click(function(){
      var xhr = new XMLHttpRequest();
      xhr.onload = function(){
        if(xhr.status == 200){
          $("#count").replaceWith("");
        }
      }
      xhr.open('GET', '/resetNotifs', true);
      xhr.send();
    });

    var user = '<%=user.google.email%>';
    var channel = pusher.subscribe(user);
    channel.bind('newEvent', function(data){
      addEvent(data);
    });

    /* GROUP MODAL */
    var availableTags = "<%= knownNetwork %>".split(",");
    var tags = $('#magicsuggest').magicSuggest({
      vregex: /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i,
      hideTrigger: true,
      allowFreeEntries: true,
      toggleOnClick: false,
      strictSuggest: true,
      resultAsString: true,
      data: availableTags
    });

    // Because magicsugges has conflicts with ejs, I have a silent input where the values from the magicsuggest is stored.
    $(tags).on('selectionchange', function() {
      document.getElementById("tags").value = this.getValue();
    });

    function isValidEmailAddress(emailAddress) {
      var pattern = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i;
      return pattern.test(emailAddress);
    };
    // Group Name/Email Validation
    $("#createGroupBtn").click(function(e) {
      var groupName = $("#groupName").val();
      var grName = "";

      //Group Name validation
      <% for(var i = 0; i < user.google.groups.length; i++) { %>
        grName = "<%= user.google.groups[i].groupname%>";
        if (grName.toUpperCase() === groupName.toUpperCase()) {
          $('#errorMessageGroupName').html("Sorry, group with this name already exists");
          e.preventDefault();
        }
        <%}%>

        //Email validation
        var tags = $("#magicsuggest").val();
        var values = [];
        for (i=0; i<tags.length; i++) {
          tags[i] = tags[i].trim();

          if (tags[i] != "") {
            values[i] = tags[i];
          }

        }
        for(i=0; i<values.length; i++){
          //If user tries to create a group with no members display an error message
          if (values[i] == ""){
            $('#errorMessage').html("Please add members to your group");
            e.preventDefault();
          } else {
              if( !isValidEmailAddress( values[i] ) ) {
                $('#errorMessage').html("Sorry, '" + values[i] + "' is not an email or is not a gmail! Please remove it and enter a proper email like (Ex: example@gmail.com)");
                e.preventDefault();
              } else if ( userList.indexOf(values[i]) == -1 ){
                $('#errorMessage').html("Sorry, '" + values[i] + "' does not have a Freetime account. Please enter a valid account.");
                e.preventDefault();
              }
          }
        }
      });
      /* END: GROUP MODAL */

    // Your Client ID can be retrieved from your project in the Google
         // Developer Console, https://console.developers.google.com
         var CLIENT_ID = '813433863993-dn497fmkof7a11h31rt6n7e1tubm2t68.apps.googleusercontent.com';

         var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];

         /**
          * Check if current user has authorized this application.
          */
         function checkAuth() {
           gapi.auth.authorize(
             {
               'client_id': CLIENT_ID,
               'scope': SCOPES.join(' '),
               'immediate': true
             }, handleAuthResult);
         }

         /**
          * Handle response from authorization server.
          *
          * @param {Object} authResult Authorization result.
          */
         function handleAuthResult(authResult) {
           var authorizeDiv = document.getElementById('authorize-div');
           if (authResult && !authResult.error) {
             // Hide auth UI, then load client library.
             authorizeDiv.style.display = 'none';
             loadCalendarApi();
           } else {
             // Show auth UI, allowing the user to initiate authorization by
             // clicking authorize button.
             authorizeDiv.style.display = 'inline';
           }
         }

         /**
          * Initiate auth flow in response to user clicking authorize button.
          *
          * @param {Event} event Button click event.
          */
         function handleAuthClick(event) {
           gapi.auth.authorize(
             {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
             handleAuthResult);

           return false;
         }

         /**
          * Load Google Calendar client library. List upcoming events
          * once client library is loaded.
          */
         function loadCalendarApi() {
           gapi.client.load('calendar', 'v3', listUpcomingEvents);
         }

         /**
          * Print the summary and start datetime/date of the next ten events in
          * the authorized user's calendar. If no events are found an
          * appropriate message is printed.
          */
         function listUpcomingEvents() {
   	    var timeMin = "<%= meeting.timeMin %>";
   	    var timeMax = "<%= meeting.timeMax %>";
   	    var email = "<%= user.google.email %>";
   	    var meetingid = "<%= meeting.id%>";
        var myObject =  {
          "Email": email,
          "TimeMin": timeMin,
          "MeetingID": meetingid,
        };
        console.log(myObject);


   		var request = gapi.client.calendar.freebusy.query({
   		  'timeMin': timeMin,
   		  'timeMax': timeMax,
   		  'timeZone': 'GMT-04:00',
   		  'groupExpansionMax': 1,
   		  'calendarExpansionMax': 1,
   		  'items': [
   			  {
   				"id": email
   			  }
   			]
   		});
           request.execute(function(resp) {
           $.post("/meeting/"+meetingid+"/addUserFreetime",resp.calendars[email]);
             var ft = JSON.stringify(resp.calendars[email]);
           });
         }
    </script>

</body>
</html>
