<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freetime - <%=user.google.name %></title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/time-date-management-1/64/time__data_management-12-128.png">

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="/public/stylesheets/Views/main.css">

    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- Custom Scripts -->
    <script src="/public/js/auth-gcal.js"></script>
    <script src="/public/js/profile.js"></script>

    <!-- Google Auth Script -->
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

</head>

<body>
  <!-- Navigation -->
  <% include templates/nav-main.ejs %>
    <!-- Content -->
  <div class="page-content">
      <nav class="nav">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active tab-style" data-toggle="tab" id="my-meetings-tab"><a href="#"> <i class="fa fa-clock-o" aria-hidden="true"></i> My Meetings</a></li>
            <li role="presentation" class="tab-style" data-toggle="tab" id="my-calendar-tab"><a href="#"> <i class="fa fa-calendar" aria-hidden="true"></i> My Calendar</a></li>
          </ul>
      </nav>

      <!-- Notifies the user of all their upcoming meetings. -->

      <div class="meetings show" >
        <% if(user.google.meetings.length == 0){%>
          <div class="no-meeting-msg meetings show">
              <img src="./../public/images/calendar.png" class="calendar-img"></img>
              <h1>YOU DONT HAVE ANY MEETINGS AS YET</h1>
              <h4>not to worry... get started by scheduling a meeting</h4>
          </div>
        <%} else {%>
          <div class="upcoming-meetings">
              <div class="meeting-heading">
                  <h1>Upcoming</h1>
              </div>
              <div class="meeting-panels">
              <% for(var i = 0; i < user.google.meetings.length; i++) {
                      if(user.google.meetings[i].status == "Complete" && new Date(user.google.meetings[i].timeMax) > new Date){ %>
                        <div class="panel">
                            <div class="panel-heading">
                                <a href='/getFreetime/<%=user.google.meetings[i].groupID%>/<%=user.google.meetings[i].meetingID%>'>
                                  <h4><%=user.google.meetings[i].name%></h4>
                                </a>
                                <p><i class="fa fa-users" aria-hidden="true"></i> <%=user.google.meetings[i].groupName%></p>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%=user.google.meetings[i].location%> </p>
                            </div>
                            <div class="panel-content">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <div class="date">
                                  <!-- Different formats of writing the date, if the month is the same keep it simple. -->
                                  <% if(user.google.meetings[i].timeString.start.dayOfMonth == user.google.meetings[i].timeString.end.dayOfMonth) {%>
                                        <p><%=user.google.meetings[i].timeString.start.dayOfMonth%>
                                        <br><%=user.google.meetings[i].timeString.start.month%> <%=user.google.meetings[i].timeString.start.dayOfWeek%> <%=user.google.meetings[i].timeString.start.year%>
                                        <br> <%=user.google.meetings[i].timeString.start.time%> - <%=user.google.meetings[i].timeString.end.time%>
                                      </p>
                                  <%} else {%>
                                    <!-- When the day of the week isn't the same distinguish the the dates. -->
                                    <p><%=user.google.meetings[i].timeString.start.dayOfMonth%> <%=user.google.meetings[i].timeString.start.month%> <%=user.google.meetings[i].timeString.start.dayOfWeek%> <%=user.google.meetings[i].timeString.start.year%> to <%=user.google.meetings[i].timeString.end.dayOfMonth%> <%=user.google.meetings[i].timeString.end.month%> <%=user.google.meetings[i].timeString.end.dayOfWeek%> <%=user.google.meetings[i].timeString.end.year%>
                                      <br> <%=user.google.meetings[i].timeString.start.time%> - <%=user.google.meetings[i].timeString.end.time%>
                                    </p>
                                  <%}%>
                                </div>
                            </div>
                        </div>
                      <%}}%>
              </div>
          </div>
          <!-- Notifies the user of their passed meetings, the last check is to get rid of very old meetings, it has a one week filter. -->
          <div class="passed-meetings">
              <div class="meeting-heading">
                    <h1>Passed</h1>
              </div>
              <div class="meeting-panels">
                    <% for(var i=0; i < user.google.meetings.length; i++) {
                      if(new Date(user.google.meetings[i].timeMax) < new Date() && moment(user.google.meetings[i].timeMax).fromNow() != "7 days ago"){ %>
                        <div class="panel">
                            <div class="panel-heading">
                              <a href='/getFreetime/<%=user.google.meetings[i].groupID%>/<%=user.google.meetings[i].meetingID%>'>
                              <h4><%=user.google.meetings[i].name%></h4>
                              </a>
                              <p><i class="fa fa-users" aria-hidden="true"></i> <%=user.google.meetings[i].groupName%></p>
                              <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%=user.google.meetings[i].location%> </p>
                            </div>
                            <div class="panel-content">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <div class="date">
                                <!-- Different formats of writing the date, if the month is the same keep it simple. -->
                                <% if(user.google.meetings[i].timeString.start.dayOfMonth == user.google.meetings[i].timeString.end.dayOfMonth) {%>
                                      <p><%=user.google.meetings[i].timeString.start.dayOfMonth%>
                                      <br><%=user.google.meetings[i].timeString.start.month%> <%=user.google.meetings[i].timeString.start.dayOfWeek%> <%=user.google.meetings[i].timeString.start.year%>
                                      <br> <%=user.google.meetings[i].timeString.start.time%> - <%=user.google.meetings[i].timeString.end.time%>
                                    </p>
                                <%} else {%>
                                  <!-- When the day of the week isn't the same distinguish the the dates. -->
                                  <p><%=user.google.meetings[i].timeString.start.dayOfMonth%> <%=user.google.meetings[i].timeString.start.month%> <%=user.google.meetings[i].timeString.start.dayOfWeek%> <%=user.google.meetings[i].timeString.start.year%> to <%=user.google.meetings[i].timeString.end.dayOfMonth%> <%=user.google.meetings[i].timeString.end.month%> <%=user.google.meetings[i].timeString.end.dayOfWeek%> <%=user.google.meetings[i].timeString.end.year%>
                                    <br> <%=user.google.meetings[i].timeString.start.time%> - <%=user.google.meetings[i].timeString.end.time%>
                                  </p>
                                <%}%>
                              </div>
                          </div>
                        </div>
                    <%}}%>
              </div>
          </div>

          <!-- Notifies the user of a pending meeting, that is awaiting their confirmation. -->
          <div class="pending-meetings">
              <div class="meeting-heading">
                  <h1>Pending</h1>
              </div>
              <div class="meeting-panels">
                  <% for(var i = 0; i < user.google.meetings.length; i++) {
                    if(user.google.meetings[i].status == "Pending" && new Date(user.google.meetings[i].timeMax) > new Date){ %>
                    <div class="panel">
                      <div class="panel-heading">
                          <a href='/getFreetime/<%=user.google.meetings[i].groupID%>/<%=user.google.meetings[i].meetingID%>'>
                            <h4><%=user.google.meetings[i].name%></h4>
                          </a>
                          <p><i class="fa fa-users" aria-hidden="true"></i> <%=user.google.meetings[i].groupName%></p>
                          <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%=user.google.meetings[i].location%> </p>
                      </div>
                      <div class="panel-content">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                          <div class="date">
                            <!-- Different formats of writing the date, if the month is the same keep it simple. -->
                            <% if(user.google.meetings[i].timeString.start.dayOfMonth == user.google.meetings[i].timeString.end.dayOfMonth) {%>
                                  <p><%=user.google.meetings[i].timeString.start.dayOfMonth%>
                                  <br><%=user.google.meetings[i].timeString.start.month%> <%=user.google.meetings[i].timeString.start.dayOfWeek%> <%=user.google.meetings[i].timeString.start.year%>
                                  <br> <%=user.google.meetings[i].timeString.start.time%> - <%=user.google.meetings[i].timeString.end.time%>
                                </p>
                            <%} else {%>
                              <!-- When the day of the week isn't the same distinguish the the dates. -->
                              <p><%=user.google.meetings[i].timeString.start.dayOfMonth%> <%=user.google.meetings[i].timeString.start.month%> <%=user.google.meetings[i].timeString.start.dayOfWeek%> <%=user.google.meetings[i].timeString.start.year%> to <%=user.google.meetings[i].timeString.end.dayOfMonth%> <%=user.google.meetings[i].timeString.end.month%> <%=user.google.meetings[i].timeString.end.dayOfWeek%> <%=user.google.meetings[i].timeString.end.year%>
                                <br> <%=user.google.meetings[i].timeString.start.time%> - <%=user.google.meetings[i].timeString.end.time%>
                              </p>
                            <%}%>
                          </div>
                      </div>
                    </div>
                  <%}}%>
              </div>
          </div>

          <!-- Notifies the user of a meeting that has to be added to their calendar. -->
          <div class="add-to-calendar">
              <div class="meeting-heading">
                  <h1>Add To Calendar</h1>
              </div>

              <div class="meeting-panels">
                <% for(var i = 0; i < user.google.meetings.length; i++) {
                  if(user.google.meetings[i].status == "ToAdd" && new Date(user.google.meetings[i].timeMax) > new Date){ %>
                  <div class="panel">
                    <div class="panel-heading">
                        <a href='/getFreetime/<%=user.google.meetings[i].groupID%>/<%=user.google.meetings[i].meetingID%>'>
                          <h4><%=user.google.meetings[i].name%></h4>
                        </a>
                        <p><i class="fa fa-users" aria-hidden="true"></i> <%=user.google.meetings[i].groupName%></p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%=user.google.meetings[i].location%> </p>
                    </div>
                    <div class="panel-content">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <div class="date">
                          <!-- Different formats of writing the date, if the month is the same keep it simple. -->
                          <% if(user.google.meetings[i].timeString.start.dayOfMonth == user.google.meetings[i].timeString.end.dayOfMonth) {%>
                                <p><%=user.google.meetings[i].timeString.start.dayOfMonth%>
                                <br><%=user.google.meetings[i].timeString.start.month%> <%=user.google.meetings[i].timeString.start.dayOfWeek%> <%=user.google.meetings[i].timeString.start.year%>
                                <br> <%=user.google.meetings[i].timeString.start.time%> - <%=user.google.meetings[i].timeString.end.time%>
                              </p>
                          <%} else {%>
                            <!-- When the day of the week isn't the same distinguish the the dates. -->
                            <p><%=user.google.meetings[i].timeString.start.dayOfMonth%> <%=user.google.meetings[i].timeString.start.month%> <%=user.google.meetings[i].timeString.start.dayOfWeek%> <%=user.google.meetings[i].timeString.start.year%> to <%=user.google.meetings[i].timeString.end.dayOfMonth%> <%=user.google.meetings[i].timeString.end.month%> <%=user.google.meetings[i].timeString.end.dayOfWeek%> <%=user.google.meetings[i].timeString.end.year%>
                              <br> <%=user.google.meetings[i].timeString.start.time%> - <%=user.google.meetings[i].timeString.end.time%>
                            </p>
                          <%}%>
                        </div>
                    </div>
                  </div>
                <%}}%>
            </div>
          </div>
          <%}%>
      </div>

      <div class="profileCal">
          <div id='calendar'></div>
      </div>
  </div>
  <!-- End of Page Content -->

	<!-- Create Delete FreeTime Account Btn & Modal -->
	<div id="delFreeTime" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Delete FreeTime Account</h4>
			</div>
				<form action="/profile/deleteProfile" method="post" id="thisForm">
					<div class="modal-body">
					<div class="form-group">
						<label>Are you sure you would like to delete your FreeTime Account?</label>
					</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger btn-lg" id="yesRemove">Yes</button>
						<button type="button" data-dismiss="modal" class="btn btn-default btn-lg" id="noRemove">No</button>
					</div>
				</form>
			</div>
		</div>
	</div>

  <!-- Jquery Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Othe Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/gcal.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
  <script src="https://js.pusher.com/4.0/pusher.min.js"></script>

  <!-- Custom Scripts -->
  <script src="/public/js/script.js"></script>

  <script>

  var pusher = new Pusher('4bf7606d6b203524d576', {
      encrypted: true
    });

  //NOTIFS: Check for notifications every time the page is loaded
  var notificationCount = 0;
  //Count how many notifications there are
  <%for (var x=userEvents.length -1; x >= 0; x--){%>
      if (<%=userEvents[x].viewed%> == false) {
        notificationCount = notificationCount + 1;
      }
  <%}%>


  //If there is more than '0', show the # of notifs above the icon
  if (notificationCount > 0){
    $("#count").text(notificationCount);
  } else {
    $("#count").addClass('hide');
  }
  console.log("notifications: " + notificationCount );
  addEvent = function(data){
    $("#count").removeClass('hide');
    var notificationCount = $("#count").text();
    if (notificationCount == null || notificationCount == ""){
      notificationCount = 0;
    }
    notificationCount = parseInt(notificationCount);
    $("#count").text(notificationCount + 1);

    $("#notifList").prepend(data.msg);
    //$("#notifList li:first-child a").attr('href', data.href);
    if(data.count == 1){
      $("#notifList li:last-child").remove();
    }
    if(data.count > 5){
      $("#notifList li:nth-last-child(3)").remove();
    }

    /* Add new group/meeting to the respective dropdown
     * if user has 0 groups/meetings, then add a group/meeting divider first
     */
    if (data.type == "group") {
      if(!$("#group-divider").length){
        $("#create-group-btn").before('<li role="seperator" class="divider" id="group-divider">');
      }
      $("#group-divider").before("<li><a href=" + data.href + "> " + data.eventName + "</a></li>");
    }

    // Add 'ring' class to bell icon for animation
    $("#notifIcon").addClass('ring');
    setTimeout(function(){
      $("#notifIcon").removeClass('ring');
    }, 1000);

  };

  $("#notifIcon").click(function(){
    var xhr = new XMLHttpRequest();
    xhr.onload = function(){
      if(xhr.status == 200){
        $("#count").replaceWith("");
      }
    }
    xhr.open('GET', '/resetNotifs', true);
    xhr.send();
  });

  //give the user own channel for notifications
  var user = '<%=user.google.email%>';
  var channel = pusher.subscribe(user);
  channel.bind('newEvent', function(data){
    addEvent(data);
  });

  var availableTags = "<%= knownNetwork %>".split(",");
  var tags = $('#magicsuggest').magicSuggest({
    vregex: /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i,
    hideTrigger: true,
    allowFreeEntries: true,
    toggleOnClick: false,
    strictSuggest: true,
    resultAsString: true,
    data: availableTags
  });

  // Because magicsugges has conflicts with ejs, I have a silent input where the values from the magicsuggest is stored.
  $(tags).on('selectionchange', function() {
    document.getElementById("tags").value = this.getValue();
  });

  function isValidEmailAddress(emailAddress) {
    var pattern = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@(?:gmail.com|ryerson.ca)/i;
    return pattern.test(emailAddress);
  };
  // Group Name/Email Validation
  $("#createGroupBtn").click(function(e) {
    var groupName = $("#groupName").val();
    var grName = "";

    //Group Name validation
    <% for(var i = 0; i < user.google.groups.length; i++) { %>
      grName = "<%= user.google.groups[i].groupname%>";
      if (grName.toUpperCase() === groupName.toUpperCase()) {
        $('#errorMessageGroupName').html("Sorry, group with this name already exists");
        e.preventDefault();
      }
      <%}%>

      //Email validation
      var tags = $("#magicsuggest").val();
      var values = [];
      for (i=0; i<tags.length; i++) {
        tags[i] = tags[i].trim();

        if (tags[i] != "") {
          values[i] = tags[i];
        }

      }
      for(i=0; i<values.length; i++){
        //If user tries to create a group with no members display an error message
        if (values[i] == ""){
          $('#errorMessage').html("Please add members to your group");
          e.preventDefault();
        } else {
            if( !isValidEmailAddress( values[i] ) ) {
              $('#errorMessage').html("Sorry, '" + values[i] + "' is not an email or is not a gmail! Please remove it and enter a proper email like (Ex: example@gmail.com)");
              e.preventDefault();
            } else if ( userList.indexOf(values[i]) == -1 ){
              $('#errorMessage').html("Sorry, '" + values[i] + "' does not have a Freetime account. Please enter a valid account.");
              e.preventDefault();
            }
              else if ( values[i] == "<%=user.google.email%>" ){
                $('#errorMessage').html("Sorry, you will be added to the group automatically.");
                e.preventDefault();
            }
        }
      }
    });
  </script>
</body>
</html>
