<!-- Navigation -->
<nav class="navbar navbar-static-top" id="nav-main">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/profile">FREETIME</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- User Dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.google.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </li>

       <!-- Groups Dropdown -->
       <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups <span class="caret"></span></a>
            <!-- <button type="button" class="btn btn-primary btn-sm navbar-btn dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="group-nav">Groups</button> -->
            <ul class="dropdown-menu" id="group-dropdown">
              <% if(user.google.groups.length > 0) { %>
              <% for(var i = 0; i < user.google.groups.length; i++) { %>
                <li>
                    <a href='/group/<%=user.google.groups[i].groupID%>'>
                    <%= user.google.groups[i].groupname%></a>
                </li>
                <%}%>
                <li role="separator" class="divider" id="group-divider"></li>
                <%}%>
                <li id="create-group-btn">
                    <a href="#" data-toggle="modal" data-target="#groupModal"><i class="fa fa-plus" aria-hidden="true"></i> Create New Group</a>
                </li>
            </ul>
        </li>
      </ul>
      <!-- Notification Dropdown -->
      <ul class="nav navbar-nav navbar-right" >
        <li class="dropdown notifications">
        <a href="/resetNotifs"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="notifCount"><i id="notifIcon" class="fa fa-bell-o fa-lg" aria-hidden="true"></i><span id="count"></span></span></a>
        <ul class="dropdown-menu" id="notifList" style="margin-right: 20px;">
        <% if(user.google.events.length > 0){ %>
          <% if(user.google.events.length >= 5){ %>
            <% for(var i = user.google.events.length - 1; i >= user.google.events.length-5; i--){%>
              <%if(user.google.events[i].type == "group"){%>
                <li><a href='/group/<%=user.google.events[i].ref_id%>'>
                  <%= user.google.events[i].createdBy.name%> added you to the group <%= user.google.events[i].ref_name%>
                </a></li>
              <%} else if(user.google.events[i].type == "meeting"){%>
                <li><a href="/meeting/<%=user.google.events[i].ref_id%>">
                  <%= user.google.events[i].createdBy.name%> created the new meeting <%= user.google.events[i].ref_name%>
                </a></li>
              <%} else {%>
                <li><a href="/meetingConfirmation/<%=user.google.events[i].ref_id%>">
                 <%= user.google.events[i].ref_name%>'s final date and time has been set
                </a></li>
              <%}%>
            <%}%>
          <%} else {%>
            <% for(var i = user.google.events.length - 1; i >= 0; i--){%>
              <%if(user.google.events[i].type == "group"){%>
                <li><a href='/group/<%=user.google.events[i].ref_id%>'>
                  <%= user.google.events[i].createdBy.name%> added you to the group <%= user.google.events[i].ref_name%>
                </a></li>
              <%} else if(user.google.events[i].type == "meeting"){%>
                <li><a href='/meeting/<%=user.google.events[i].ref_id%>'>
                  <%= user.google.events[i].createdBy.name%> created the new meeting <%= user.google.events[i].ref_name%>
                </a></li>
              <%} else {%>
                <li><a href='/meetingConfirmation/<%=user.google.events[i].ref_id%>'>
                  <%= user.google.events[i].ref_name%>'s final date and time has been set
                </a></li>
              <%}%>
            <%}%>
          <%}%>
          <li role="separator" class="divider"></li>
          <li><a href='#'>See More</a></li>
        <%} else {%>
          <li><a href="#">You have no notifications!</a></li>
        <%}%>
        </ul>
        </li>
      </ul>
    </div> <!-- /.navbar-collapse -->
</nav>

<!-- Modals -->
<% include modals/createGroup.ejs%>
<!-- End of Navigation Bar -->
