<!-- Create Group Btn & Modal -->
<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Group</h4>
      </div>
      <form action="/profile/createGroup" method="post" id="thisForm">
          <div class="modal-body">
              <div class="form-group">
                  <label>Group Name</label>
                  <input type="text" class="form-control" name="groupName" id="groupName" required><br>
                  <label id="errorMessageGroupName" style="color:red;"></label><br>
                  <label>Members</label><br>
                  <input type="text" size="50" placeholder="Enter google email addresses" id="magicsuggest" required/>
                  <label id="errorMessage" style="color:red;"></label>
                  <input type="text" size="50" name="tags" id="tags" style="display:none;"/>
              </div>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-lg" id="createGroupBtn">Create</button>
          </div>
      </form>

    </div>
  </div>
</div>
<!-- /#modal -->
