<!-- Create Group Btn & Modal -->
<div id="meetingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Find A Meeting</h4>
            </div>
            <form action="/group/<%=group.id%>/createMeeting"method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Meeting Name</label>
                        <input type="text" class="form-control" name="meetingName" id="meetingName" required>
            <label id="errorMessageMeetingName" style="color:red;"></label>
                        <br>
                        <label>Location</label>
                        <input type="text" id="userCity" class="form-control" name="meetingLocation" required>
                        <br>
                        <label>Duration (in hours)</label>
                        <input type="number" class="form-control" min="1" name="meetingDuration" required>
                        <br>
                        <label>Period Picker</label>
                        <input type="text" class="form-control" name="daterange"/><br>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.modal-body -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning btn-lg" id="thisButton">Create</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog  -->
</div>
<!-- /.modal fade-->


<script>
$(document).ready(function () {
        // Dates/Times for the user to pick and choose to meet.
        $('input[name="daterange"]').daterangepicker({
          timePicker: true,
          timePickerIncrement: 15,
          locale: {
              format: 'MM/DD/YYYY h:mm A'
          },
          "opens": "center",
          "drops": "up",
          minDate: new Date()
        });
      });
</script>
