html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: white; }

.navbar {
  position: relative !important;
  margin-bottom: 3px !important;
  border-radius: 0px !important;
  background: #3076C8 !important; }

.navbar-brand {
  font-weight: 900 !important;
  color: white !important; }

.navbar-right {
  margin-right: 15px !important; }

.icon-bar {
  background: white !important; }

.dropdown-toggle {
  color: white !important; }

.dropdown-menu {
  border: 1px solid transparent !important;
  border-radius: 0 !important; }

#count {
  background: red;
  z-index: 1;
  border-radius: 5%;
  border: none;
  padding: 6px 7px 6px 6px;
  font-size: 10px;
  line-height: 5px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 32px; }

.hide {
  display: none; }

.ring {
  animation: ring 0.2s 7;
  transform-origin: 50% 25%; }

@keyframes ring {
  0%, 100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(15deg); }
  75% {
    transform: rotate(-15deg); } }
.info-map {
  height: 300px; }

.map {
  height: 300px; }

#map-canvas {
  width: 100%;
  height: 300px; }

.add-msg {
  margin: 20px 0; }
  @media (max-width: 991px) {
    .add-msg {
      margin: 240px 0 10px 0; } }

.page-content {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.page-header {
  text-align: center;
  border: none; }
  .page-header h4 {
    font-weight: 700;
    color: #3076C8; }

.info {
  margin-top: 43px; }
  @media (max-width: 991px) {
    .info {
      margin-top: 13px; } }

.meeting-panel {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 100, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 5px 0px 5px 0px; }
  .meeting-panel h1 {
    padding: 0 2.75%; }
  @media (max-width: 700px) {
    .meeting-panel {
      text-align: center; } }
  .meeting-panel p {
    font-size: 14px; }
  .meeting-panel .glyphicon {
    font-size: 1.8em; }

h1 {
  font-weight: 900; }

.meeting-content {
  padding-top: 5px;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  padding: 0 2.75%; }

.add-btn {
  outline: none;
  background: white;
  border: 2px solid #3076C8;
  width: 150px;
  height: 45px;
  text-align: center;
  font-weight: 600;
  color: #3076C8; }
  .add-btn :hover {
    background: #3076C8;
    color: white; }

#map_canvas {
  width: 60%;
  height: 60%;
  margin: 0 auto; }

#authorize-div {
  margin-top: 10px; }

/*# sourceMappingURL=confirmation.css.map */
