$main_used_color: white;
$target-information: "(max-width : 700px)";

html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background: $main_used_color;
}

// Navbar
@import "../Partials/navbar";
.info-map{
	height: 300px;
}
.map{
	height: 300px;
}

#map-canvas {
	width:100%;
 	height:300px;
}

.add-msg{
	margin: 20px 0;
	@media(max-width: 991px){
		margin: 240px 0 10px 0;
	}
}
// Page Content
.page-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.page-header{
	text-align: center;
	border: none;

	h4 {
		font-weight: 700;
    	color: #3076C8;
	}
}

.info{
	margin-top: 43px;
	@media(max-width: 991px){
		margin-top: 13px;

	}

}
.meeting-panel{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,100,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 5px 0px 5px 0px;


    h1 {
    	padding: 0 2.75%;
    }

    @media #{$target-information} {
    	text-align: center;
    }

		p{
			font-size: 14px;
		}
		.glyphicon{
			font-size: 1.8em;
		}
		.info{

		}

}

h1 {
	font-weight: 900;
}

.meeting-content {
	padding-top: 5px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    padding: 0 2.75%;
}
.add-btn{
    outline: none;
    background: white;
    border: 2px solid #3076C8;
    width: 150px;
    height: 45px;
    text-align: center;
    font-weight: 600;
    color: #3076C8;

    :hover{
    	background: #3076C8;
    	color: white;
	}
}

#map_canvas {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

#authorize-div{
  margin-top: 10px;
}
