html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: white; }

.navbar {
  position: relative !important;
  margin-bottom: 3px !important;
  border-radius: 0px !important;
  background: #3076c8 !important; }

.navbar-brand {
  font-weight: 900 !important;
  color: white !important; }

.icon-bar {
  background: white !important; }

.dropdown-toggle {
  color: white !important; }

.dropdown-menu {
  border: 1px solid transparent !important;
  border-radius: 0 !important; }

.container {
  width: 75%;
  margin: 100px 350px auto; }

.progressbar {
  margin: 0;
  padding: 0; }
  .progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d; }
  .progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white; }
  .progressbar li.active:before, .progressbar li.active.freetimes:before, .progressbar li.active.confirmation:before {
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 1.65;
    content: '\f00c';
    border-color: #55b776; }
  .progressbar li.freetimes:before {
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 1.65;
    content: '\f017'; }
  .progressbar li.confirmation:before {
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 1.65;
    content: "\f271"; }
  .progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1; }
  .progressbar li:first-child:after {
    content: none; }
  .progressbar li.active {
    color: #55b776; }
    .progressbar li.active + li:after {
      background-color: #55b776; }

.meeting-slots {
  width: 100%;
  text-align: center; }

.meeting-slot {
  width: 25%;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 100, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 20px; }
  .meeting-slot form {
    padding: 15px 0px;
    text-align: center;
    display: block; }

.submit-btn {
  outline: none;
  background: white;
  border: 2px solid #3076C8;
  width: 150px;
  height: 45px;
  text-align: center;
  font-weight: 600;
  color: #3076C8;
  margin-top: 10px; }
  .submit-btn :hover {
    background: #3076C8;
    color: white; }

.time {
  font-weight: 900;
  font-size: 24px;
  margin: 0; }

.date {
  font-weight: 600;
  font-size: 18px; }

.meeting-slot form {
  padding: 15px 0px;
  text-align: center;
  display: block; }

#MeetingTime {
  height: 45px;
  width: 90%;
  margin: 0px 5% 5px 5%;
  text-align: center;
  border: 1px solid #3076C8; }

.divide {
  width: 90%;
  border: 0.5px solid #A1E4DC;
  display: block;
  margin: 5px auto 0px auto; }

.page-heading {
  width: 84%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px; }
  .page-heading h1 {
    font-weight: 900; }
