html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background: white;
}

// Navbar
@import "../Partials/navbar";

// Progressbar
@import "../Partials/progressbar";

// Page Content

.meeting-slots{
 	width: 100%;
    text-align: center;
}

.meeting-slot{
 	width:25%;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,100,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 20px;

    form {
    	padding: 15px 0px;
    	text-align: center;
    	display: block;
    }
}

.submit-btn{
    outline: none;
    background: white;
    border: 2px solid #3076C8;
    width: 150px;
    height: 45px;
    text-align: center;
    font-weight: 600;
    color: #3076C8;
    margin-top: 10px;

    :hover {
    	background: #3076C8;
    	color: white;
    }
}

.time{
 font-weight: 900;
 font-size: 24px;
    margin: 0;
}

.date{
 font-weight: 600;
    font-size: 18px;
}

.meeting-slot form{
    padding: 15px 0px;;
    text-align: center;;
    display: block

}

#MeetingTime{
    height: 45px;
    width: 90%;
    margin: 0px 5% 5px 5%;
    text-align: center;
    border: 1px solid #3076C8;
}

.divide{
    width: 90%;
    border: 0.5px solid #A1E4DC;
    display: block;
    margin: 5px auto 0px auto;
}

.page-heading {
	width: 84%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;

    h1 {
    	font-weight: 900;
    }
}

