.pac-container {
  z-index: 1051 !important; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white !important; }

.navbar {
  position: relative !important;
  margin-bottom: 3px !important;
  border-radius: 0px !important;
  background: #3076C8 !important; }

.navbar-brand {
  font-weight: 900 !important;
  color: white !important; }

.navbar-right {
  margin-right: 15px !important; }

.icon-bar {
  background: white !important; }

.dropdown-toggle {
  color: white !important; }

.dropdown-menu {
  border: 1px solid transparent !important;
  border-radius: 0 !important; }

#count {
  background: red;
  z-index: 1;
  border-radius: 5%;
  border: none;
  padding: 6px 7px 6px 6px;
  font-size: 10px;
  line-height: 5px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 32px; }


.hide {
  display: none; }

.ring {
  animation: ring 0.2s 7;
  transform-origin: 50% 25%; }

@keyframes ring {
  0%, 100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(15deg); }
  75% {
    transform: rotate(-15deg); } }

  #resetNotifs {
    padding-right: 15px;  }


.nav-tabs li {
  width: 33.33% !important;
  text-align: left !important; }

/* Navbar Tabs Styled */
.nav-tabs {
  background-color: white;
  margin-bottom: 0; }

.nav-tabs a {
  color: #3076C8 !important; }

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #777 !important;
  font-size: 20px !important;
  font-weight: bold; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #3076C8 !important;
  background-color: #fff !important;
  border-color: #ddd !important;
  border-bottom-color: transparent !important; }

.tab-style.active {
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd; }

.empty-state {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .empty-state > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px; }
  @media (max-width: 600px) {
    .empty-state > img {
      width: 100px;
      height: 100px; }
    .empty-state > h1 {
      font-size: 14px; } }
  @media (min-width: 601px) and (max-height: 800px) {
    .empty-state {
      top: 65%; } }

@media (max-width: 600px) {
  .copyright-tag {
    font-size: 8px; } }
.meetings, .members, .calendar {
  display: none; }

.groupCal {
  visibility: hidden; }

.groupCalShow {
  visibility: visible; }

.show {
  display: block; }

.meetings {
  padding: 30px;
  text-align: center; }

.meeting-panel {
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 10px 20px rgba(0, 0, 100, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  text-align: left;
  padding: 15px 20px 15px 20px;
  margin-bottom: 25px; }
  .meeting-panel > a h3 {
    display: inline;
    font-style: normal;
    font-weight: 900;
    color: black; }
  .meeting-panel > a h3:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #3076C8; }
  .meeting-panel > .status {
    padding-top: 7px;
    float: right;
    font-style: normal;
    font-weight: 900;
    color: #8BCDFE; }
    @media (max-width: 700px) {
      .meeting-panel > .status {
        float: none;
        display: block;
        width: 50%;
        text-align: center;
        margin-left: 25%; } }
  .meeting-panel > .pending {
    color: #A5E40E; }
  .meeting-panel > .passed {
    color: #f44336; }
  @media (max-width: 700px) {
    .meeting-panel {
      text-align: center; } }

.members {
  text-align: center; }

.member-panel {
  width: 225px;
  background: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 100, 0.15) !important;
  border-radius: 0px;
  border: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin: 5px; }
  .member-panel h4 {
    color: #8BCDFE; }
  .member-panel p {
    color: #3076C8; }

.img-circle {
  width: 100px;
  height: 100px; }

.calendar {
  padding: 30px; }

.page-heading {
  text-align: center; }
  .page-heading h2 {
    font-weight: 600;
    text-transform: uppercase; }

.no-meeting-msg {
  width: 100%;
  height: 90vh;
  text-align: center; }
  .no-meeting-msg h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px; }

.calendar-img {
  width: 250px;
  height: 250px;
  margin: 5vh 0px 20px 0px;
  padding: 0;
  text-align: center; }

/*# sourceMappingURL=group.css.map */
