@import "../Mixins/group-mixin";

$main_used_color: white;
$blue: #8BCDFE;
$darkblue: #3076C8;
$target-information: "(max-width : 700px)";

.pac-container {
    z-index: 1051 !important;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $main_used_color !important;
}

@import "../Partials/navbar";

.nav-tabs li {
	@include grouptabs;
}

@import "../Partials/navbar-tabs";

@import "../Partials/empty-state";

.meetings, .members, .calendar{
	display: none;
}

.groupCal {
	visibility: hidden;
}

.groupCalShow {
	visibility: visible;
}

.show{
	display:block;
}

.meetings{
	padding: 30px;
	text-align: center;
}

.meeting-panel{
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 10px 20px rgba(0,0,100,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
	text-align: left;
	padding: 15px 20px 15px 20px;
	margin-bottom: 25px;

	> a {
		h3 {
			display: inline;
			@include meetingpanel-fontstyle;
			color: black;
		}

		h3:hover {
			text-decoration: underline;
			cursor: pointer;
			color: $darkblue;
		}
	}

	> .status {
		padding-top: 7px;
	    float: right;
		@include meetingpanel-fontstyle;
	    color: $blue;
	    @media #{$target-information} {
	    	float:none;
	        display: block;
	        width: 50%;
	        text-align: center;
	        margin-left: 25%;
	    }
	}

	> .pending {
		color: #A5E40E;
	}

	> .passed {
		color: #f44336;
	}

	@media #{$target-information} {
		text-align: center;
	}

}

.members {
	text-align: center;
}

.member-panel {
	width: 225px;
    background: $main_used_color;
    box-shadow: 1px 2px 3px rgba(0,0,100,0.15) !important;
    border-radius: 0px;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin: 5px;

    h4 {
    	color: $blue;
    }

    p {
    	color: $darkblue;
    }
}

.img-circle {
	width: 100px;
    height: 100px;
}

.calendar{
    padding: 30px;
}

.page-heading{
    text-align: center;

    h2 {
    	font-weight: 600;
    	text-transform: uppercase;
    }
}

.no-meeting-msg{
  width: 100%;
  height: 90vh;
  text-align: center;
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
}

.calendar-img{
  width: 250px;
  height: 250px;
  margin: 5vh 0px 20px 0px;
  padding: 0;
  text-align: center;
}
