@import "../Mixins/profile-mixin";

$main_used_color: white;
$panel_text_color: black;

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $main_used_color;
}

@import "../Partials/navbar";

.nav-tabs li{
    @include profiletabs;
}

@import "../Partials/navbar-tabs";


img{
  width: 75%;
}

.row{
  text-align: center;
  margin: 25px;
}

#count {
  background: red;
  z-index: 1;
  border-radius: 5%;
  border: none;
  padding: 6px 7px 6px 6px;
  font-size: 10px;
  line-height: 5px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 32px; }
