html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white; }

.navbar {
  position: relative !important;
  margin-bottom: 3px !important;
  border-radius: 0px !important;
  background: #3076C8 !important; }

.navbar-brand {
  font-weight: 900 !important;
  color: white !important; }

.navbar-right {
  margin-right: 15px !important; }

.icon-bar {
  background: white !important; }

.dropdown-toggle {
  color: white !important; }

.dropdown-menu {
  border: 1px solid transparent !important;
  border-radius: 0 !important; }

#count {
  background: red;
  z-index: 1;
  border-radius: 5%;
  border: none;
  padding: 6px 7px 6px 6px;
  font-size: 10px;
  line-height: 5px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 32px; }

.hide {
  display: none; }

.ring {
  animation: ring 0.2s 7;
  transform-origin: 50% 25%; }

@keyframes ring {
  0%, 100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(15deg); }
  75% {
    transform: rotate(-15deg); } }
.nav-tabs li {
  width: 50% !important;
  text-align: left !important; }

/* Navbar Tabs Styled */
.nav-tabs {
  background-color: white;
  margin-bottom: 0; }

.nav-tabs a {
  color: #3076C8 !important; }

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #777 !important;
  font-size: 20px !important;
  font-weight: bold; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #3076C8 !important;
  background-color: #fff !important;
  border-color: #ddd !important;
  border-bottom-color: transparent !important; }

.tab-style.active {
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd; }

img {
  width: 75%; }

.row {
  text-align: center;
  margin: 25px; }

#count {
  background: red;
  z-index: 1;
  border-radius: 5%;
  border: none;
  padding: 6px 7px 6px 6px;
  font-size: 10px;
  line-height: 5px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 32px; }

/*# sourceMappingURL=help.css.map */
