html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row{
	margin: 0;
	padding: 0;
}

.landing-header{
	height: 100vh;
	background: url("/public/images/landing-page-image.png") no-repeat center center;
	background-size: 100% 100%;
	position: relative;
	padding: 0;
}

.opacity-layer{
	background-color: rgba(43, 120, 194, 0.58);
	height: 100%;
}

.login-header {
	position: absolute;
	text-align:center;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	h1{
		margin: 0;
		font-size: 4em;
		font-weight: 100;
	}
	p{
		font-size: 1em;
	}
	h3{
		font-size: 1.2em;
	}
	.btn{
		height: 48px;
		font-weight: 300;
		letter-spacing: 2.5px;
	}
}

#mainInfo {
width: 100%;
}

#div1 {
    font-family: 'Roboto', sans-serif;
		background-color: #2B78C2;
		font-size: 22px;

		padding: 85.5px 50px;

		p {
			letter-spacing: 2.5px;
		}
}

#div2{

	background-color: #EDF3F9;
	font-size: 20px;
	font-weight: 100;
	padding: 50px;
}

.team{
	padding-top: 30px;
	padding-bottom: 29px;
}
#meettheteam{
	font-weight: 100;
}
.col-sm-12{
	text-align: center;
	padding: 0;
}
.panel{
	display: inline-block;
	border-color: #17A2FF;
	width: 225px;

}

.my-panel-body{
	h1{
		font-size: 30px;
		font-weight: 100;
	}
	p{
		font-style: italic;
		font-size: 16px;
		font-weight: 100;
	}
}

.markstanley {
    background: url("/public/images/markstanley.png");
    background-size: 100% 100%;
    height: 225px;
}

.dominic {
    background: url("/public/images/dominicaidoo.JPG");
    background-size: 100% 100%;
    height: 225px;
}

.rogerio {
    background: url("/public/images/rogerio.png");
    background-size: 100% 100%;
    height: 225px;
}

.image-layer {
    background-color: rgba(135,206,250,0.3);
    height: 100%;
}

/* FOOTER */

footer{
	margin: 0;
	text-align: center;
	height: 100px;
}

.footer-copy {
		margin: 0;
		padding: 0;

		font-size: 18px;
    font-weight: bold;
    color: #7e7e7e;
}

footer a, footer a:hover, footer a:visited{
    font-size:1.2em;
    font-weight: bold;
    color:  #7e7e7e;
    padding: 8px;

}





@media(min-width: 700px){
	.landing-header{
		background: url("/public/images/jumbotron.jpg") no-repeat center center;
	}

	.login-header {
		h1{
			margin: 0;
			font-size: 6em;
			font-weight: 100;
		}
		p{
			font-size: 1.5em;
		}
		h3{
			font-size: 1.5em;
		}
		.btn{
			height: 48px;
			font-weight: 300;
			letter-spacing: 2.5px;
		}
	}

	#div1 {
	    font-family: 'Roboto', sans-serif;
			background-color: #2B78C2;
			/*font-size: 26px;*/
			padding: 85.5px 50px;
			p {
				letter-spacing: 2.5px;
			}
	}

	.panel{
		width: 275px;
	}

	.markstanley, .dominic , .rogerio {
	    height: 275px;
	}
}

@media (min-width: 992px){
	.row{
		display: flex;
	}

	#div1 {
	    text-align: left;
			/*font-size: 26px;*/
			max-height: 350px;
	}
	#div2{
		text-align: left;
		padding-top: 3.0%;
		/*font-size: 21px;*/
		max-height: 300px;
	}
	.col-sm-12{
		text-align: none;
		padding: 0;
	}
}
