html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white; }

.navbar {
  position: relative !important;
  margin-bottom: 3px !important;
  border-radius: 0px !important;
  background: #3076C8 !important; }

.navbar-brand {
  font-weight: 900 !important;
  color: white !important; }

.navbar-right {
  margin-right: 15px !important; }

.icon-bar {
  background: white !important; }

.dropdown-toggle {
  color: white !important; }

.dropdown-menu {
  border: 1px solid transparent !important;
  border-radius: 0 !important; }

#count {
  background: red;
  z-index: 1;
  border-radius: 5%;
  border: none;
  padding: 6px 7px 6px 6px;
  font-size: 10px;
  line-height: 5px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 32px; }

.hide {
  display: none; }

.ring {
  animation: ring 0.2s 7;
  transform-origin: 50% 25%; }

@keyframes ring {
  0%, 100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(15deg); }
  75% {
    transform: rotate(-15deg); } }
.nav-tabs li {
  width: 50% !important;
  text-align: left !important; }

/* Navbar Tabs Styled */
.nav-tabs {
  background-color: white;
  margin-bottom: 0; }

.nav-tabs a {
  color: #3076C8 !important; }

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #777 !important;
  font-size: 20px !important;
  font-weight: bold; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #3076C8 !important;
  background-color: #fff !important;
  border-color: #ddd !important;
  border-bottom-color: transparent !important; }

.tab-style.active {
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd; }

.empty-state {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .empty-state > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px; }
  @media (max-width: 600px) {
    .empty-state > img {
      width: 100px;
      height: 100px; }
    .empty-state > h1 {
      font-size: 14px; } }
  @media (min-width: 601px) and (max-height: 800px) {
    .empty-state {
      top: 65%; } }

@media (max-width: 600px) {
  .copyright-tag {
    font-size: 8px; } }
.meetings, .calendar {
  display: none; }

.show {
  display: block; }

.meetings {
  padding: 0px 15px; }

.meeting-heading {
  text-align: center; }

.meeting-panels {
  text-align: center;
  margin: 0px;
  padding: 0px; }

.panel {
  width: 350px;
  height: 175px;
  display: inline-block;
  margin: 0px 10px 10px 0px;
  padding: 0px;
  background: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  border: none; }

.panel-heading {
  width: 175px;
  height: 175px;
  margin: 0px;
  float: left;
  background: #8BCDFE;
  border-radius: 0px; }

.panel-content {
  width: 175px;
  height: 175px;
  margin: 0px;
  float: right;
  background: white;
  border-radius: none;
  padding-top: 19px; }

.panel .panel-heading a {
  color: black;
  text-decoration: none; }
.panel .panel-heading a:hover {
  color: black;
  text-decoration: underline; }
.panel .panel-heading h4 {
  font-weight: 800; }

.fa-calendar {
  position: static; }

.date {
  padding-top: 10px; }

.calendar {
  padding: 30px; }

.profileCal {
  visibility: hidden; }

.profileCalShow {
  visibility: visible; }

.createLink {
  cursor: pointer; }

.no-meeting-msg {
  width: 100%;
  height: 90vh;
  text-align: center; }
  .no-meeting-msg h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px; }

.calendar-img {
  width: 250px;
  height: 250px;
  margin: 5vh 0px 20px 0px;
  padding: 0;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
