@import "../Mixins/profile-mixin";

$main_used_color: white;
$panel_text_color: black;

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $main_used_color;
}

@import "../Partials/navbar";

.nav-tabs li{
    @include profiletabs;
}

@import "../Partials/navbar-tabs";

// When there are no meetings show the user a fun message and image.
@import "../Partials/empty-state";

.meetings, .calendar{
 display: none;
}

.show{
 display: block;
}

.meetings{
    padding: 0px 15px;
}

.meeting-heading{
    text-align: center;
}

.meeting-panels{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.panel{
    width: 350px;
    height: 175px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    padding: 0px;
    background: white;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.15);
    border-radius: 0px;
    border: none;

}
.panel-heading{
    width: 175px;
    height: 175px;
    margin: 0px;
    float: left;
    background: #8BCDFE;
    border-radius: 0px;
}

.panel-content{
    width: 175px;
    height: 175px;
    margin: 0px;
    float: right;
    background: $main_used_color;
    border-radius: none;
    padding-top: 19px
}

.panel {
	.panel-heading a {
		color: $panel_text_color;
    	text-decoration: none;
	}

	.panel-heading a:hover{
		color: $panel_text_color;
    	text-decoration: underline;
	}

	.panel-heading h4 {
		font-weight: 800;
	}
}

.fa-calendar{
    position: static;
}
.date{
    padding-top: 10px;
}
.calendar{
    padding: 30px;
}

.profileCal {
    visibility: hidden;
}

.profileCalShow {
    visibility: visible;
}

.createLink{
  cursor: pointer;
}

.no-meeting-msg{
  width: 100%;
  height: 90vh;
  text-align: center;
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
}

.calendar-img{
  width: 250px;
  height: 250px;
  margin: 5vh 0px 20px 0px;
  padding: 0;
  text-align: center;
}
