$main_used_color: white;
$target-information: "(max-width : 700px)";

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-color: $main_used_color;
}

// Navbar
@import "../Partials/navbar";

// Progress Bar
@import "../Partials/progressbar";

// Page Content
.confirmation-panel{
    width: 75%;
    margin: 20px 12.5% 0px 12.5%;
    box-shadow: 0 10px 20px rgba(0,0,100,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 15px 20px 15px 20px;

    @media #{$target-information} {
        text-align: center;
    }
}

h1{
    font-style: normal;
    font-weight: 900;
}

.divide{
    width: 100%;
    border: 0.5px solid #A1E4DC;
    display: block;
    margin: 5px 0px 10px 0px;
}

.attend-btn{
    outline: none;
    background: white;
    border: 2px solid #3076C8;
    width: 150px;
    height: 45px;
    text-align: center;
    font-weight: 600;
    color: #3076C8;
    margin-top: 10px;

    :hover {
    	background: #3076C8;
    	color: white;
    }
}