html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: white; }

.navbar {
  position: relative !important;
  margin-bottom: 3px !important;
  border-radius: 0px !important;
  background: #3076c8 !important; }

.navbar-brand {
  font-weight: 900 !important;
  color: white !important; }

.icon-bar {
  background: white !important; }

.dropdown-toggle {
  color: white !important; }

.dropdown-menu {
  border: 1px solid transparent !important;
  border-radius: 0 !important; }

#count {
  background: red;
  z-index: 1;
  border-radius: 5%;
  border: none;
  padding: 6px 7px 6px 6px;
  font-size: 10px;
  line-height: 5px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 32px; }

.hide {
  display: none; }

#resetNotifs {
  padding-right: 15px;  }


.container {
  width: 75%;
  margin: 100px 350px auto; }

.progressbar {
  margin: 0;
  padding: 0; }
  .progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d; }
  .progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white; }
  .progressbar li.active:before {
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 1.65;
    content: '\f00c';
    border-color: #55b776; }
  .progressbar li.freetimes:before {
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 1.65;
    content: '\f017'; }
  .progressbar li.confirmation:before {
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 1.65;
    content: "\f271"; }
  .progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1; }
  .progressbar li:first-child:after {
    content: none; }
  .progressbar li.active {
    color: #55b776; }
    .progressbar li.active + li:after {
      background-color: #55b776; }

.confirmation-panel {
  width: 75%;
  margin: 20px 12.5% 0px 12.5%;
  box-shadow: 0 10px 20px rgba(0, 0, 100, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px 20px 15px 20px; }
  @media (max-width: 700px) {
    .confirmation-panel {
      text-align: center; } }

h1 {
  font-style: normal;
  font-weight: 900; }

.divide {
  width: 100%;
  border: 0.5px solid #A1E4DC;
  display: block;
  margin: 5px 0px 10px 0px; }

.attend-btn {
  outline: none;
  background: white;
  border: 2px solid #3076C8;
  width: 150px;
  height: 45px;
  text-align: center;
  font-weight: 600;
  color: #3076C8;
  margin-top: 10px; }
  .attend-btn :hover {
    background: #3076C8;
    color: white; }
