@mixin tabstyle {
	border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
}

@mixin meetingpanel-fontstyle {
	font-style: normal;
    font-weight: 900;
}

@mixin grouptabs{
	width: 33.33% !important;
	text-align: left !important;
}