$empty-state-width: "(max-width: 600px)";
$empty-state-height: "(max-height: 800px)";

// When there are no meetings show the user a fun message and image.
.empty-state {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
  }

  @media #{$empty-state-width} {
      // top: 65%;

      > img {
          width: 100px;
          height: 100px;
      }

      > h1 {
          font-size: 14px;
      }
  }

  @media (min-width: 601px) and #{$empty-state-height} {
    top: 65%;
  }
}

@media #{$empty-state-width} {
    .copyright-tag{
        font-size: 8px;
    }   
}