$freetime_blue: #3076C8;

.navbar{
    position: relative !important;
    margin-bottom: 3px !important;
    border-radius: 0px !important;
    background: $freetime_blue !important;
}

.navbar-brand{
    font-weight: 900 !important;
    color: white !important;
}

.navbar-right{
  margin-right: 15px !important;
}
.icon-bar{
    background: white !important;
}

.dropdown-toggle{
    color: white !important;
}

.dropdown-menu{
    border: 1px solid transparent !important;
    border-radius: 0 !important;
}
#count{
  background: red;
  z-index: 1;
  border-radius: 5%;
  border: none;
  padding: 6px 7px 6px 6px;
  font-size: 10px;
  line-height: 5px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 32px;

}

.hide{
  display:none;
}
.ring{
  animation: ring 0.2s 7;
  transform-origin: 50% 25%;
}
@keyframes ring {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
