$main_used_color: white;
$freetime_blue: #3076C8;

/* Navbar Tabs Styled */
.nav-tabs {
	background-color: $main_used_color;
	margin-bottom: 0;
}

.nav-tabs {
  a {
    color: $freetime_blue !important;
  }
}

.nav-tabs {
  > li {
    > a, > a:hover, > a:focus {
      color: #777 !important;
      font-size: 20px !important;
      font-weight: bold;
    }
  }
}

.nav-tabs {
  > li.active {
    > a, > a:hover, > a:focus {
	    color: $freetime_blue !important;
	    background-color: #fff !important;
	    border-color: #ddd !important;
	    border-bottom-color: transparent !important;
    }
  }
}

.tab-style.active{
  @include tabstyle;
}